# 기본 정리

## Library

In [357]:
# Import Library
import networkx as nx
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontManager
import os
import pandas as pd
import numpy as np
from urllib.parse import urlparse, parse_qs, unquote, urlunparse, urlencode
import json
import re
from IPython.core.interactiveshell import InteractiveShell 
import urllib.parse
import requests
from bs4 import BeautifulSoup
import hashlib
import validators 
import nbimporter
from datetime import datetime, timedelta
import math

## Directory of Files

In [358]:
### 현재 작업 디렉토리를 가져오기
current_directory = os.getcwd()

### downloads 상대경로를 절대경로로 변환
relative_path_downloads = r'..\\..\\..\\Downloads'
download_path = os.path.join(current_directory, relative_path_downloads)

### "preprocessed" 상대경로를 절대경로로 변환
preprocessed_path = os.path.join(download_path, 'preprocessed')

### Check if the "preprocessed" folder exists
if os.path.exists(preprocessed_path):
    print(f"The 'preprocessed' folder already exists at: {preprocessed_path}")
else:
    # "preprocessed" 폴더 생성
    os.makedirs(preprocessed_path)

### ContentsList 상대경로를 절대경로로 변환
relative_path_contentslist = r'..\\..\\..\\OneDrive - 클리 주식회사\문서 - 클리주식회사\000_Routine_마이세컨플레이스\02. IT Platform&Data\01_콘텐츠성과측정\001_ContentsList.xlsx'
contentslist_path = os.path.join(current_directory, relative_path_contentslist)

### DailyRawdata
path_dailyrawdata = r'..\\..\\..\\OneDrive - 클리 주식회사\문서 - 클리주식회사\000_Routine_마이세컨플레이스\02. IT Platform&Data\01_콘텐츠성과측정\01_DailyRawdata'

### 01_콘텐츠성과측정 상대경로를 절대경로로 변환
relative_path_upper_path = r'..\\..\\..\\OneDrive - 클리 주식회사\문서 - 클리주식회사\000_Routine_마이세컨플레이스\02. IT Platform&Data\01_콘텐츠성과측정'
upper_path = os.path.join(current_directory, relative_path_upper_path)

### 02_요청 상대경로를 절대경로로 변환
relative_path_request_path = r'..\\..\\..\\OneDrive - 클리 주식회사\문서 - 클리주식회사\000_Routine_마이세컨플레이스\02. IT Platform&Data\01_콘텐츠성과측정\02_요청'
request_path = os.path.join(current_directory, relative_path_request_path)

The 'preprocessed' folder already exists at: c:\Users\ch.kang\Documents\GitHub\funnel_test\..\\..\\..\\Downloads\preprocessed

## Directory of Files_house

### 현재 작업 디렉토리를 가져오기
current_directory = os.getcwd()

### downloads 상대경로를 절대경로로 변환
relative_path_downloads = r'..\\..\\..\\..\\Downloads'
download_path = os.path.join(current_directory, relative_path_downloads)

### "preprocessed" 상대경로를 절대경로로 변환
preprocessed_path = os.path.join(download_path, 'preprocessed')

### Check if the "preprocessed" folder exists
if os.path.exists(preprocessed_path):
    print(f"The 'preprocessed' folder already exists at: {preprocessed_path}")
else:
    # "preprocessed" 폴더 생성
    os.makedirs(preprocessed_path)


### ContentsList 상대경로를 절대경로로 변환
relative_path_contentslist = r'..\\..\\..\\..\\OneDrive - 클리 주식회사\문서 - 클리주식회사\003_Project-3\07_콘텐츠성과측정\ContentsList.xlsx'
contentslist_path = os.path.join(current_directory, relative_path_contentslist)

### DailyRawdata
path_dailyrawdata = r'..\\..\\..\\..\\OneDrive - 클리 주식회사\문서 - 클리주식회사\003_Project-3\07_콘텐츠성과측정\DailyRawdata'

### 07_콘텐츠성과측정 상대경로를 절대경로로 변환
relative_path_upper_path = r'..\\..\\..\\..\\OneDrive - 클리 주식회사\문서 - 클리주식회사\003_Project-3\07_콘텐츠성과측정'
upper_path = os.path.join(current_directory, relative_path_upper_path)

## Import Original Data

In [359]:
# Import Original Data
# 폴더 내의 파일 목록 가져오기
file_list = os.listdir(path_dailyrawdata)

# 'ga'로 시작하는 파일 필터링 및 불러오기
ga_files = [file for file in file_list if file.startswith('ga')]
ga_files = [file for file in ga_files if file != 'ga_backup']

# 'blog'로 시작하는 파일 필터링 및 불러오기
blog_files = [file for file in file_list if file.startswith('blog')]

# contentslist file import
contentslist = pd.read_excel(contentslist_path)

# 빈 데이터프레임을 생성하여 파일을 하나씩 읽어서 합치기
raw_df_ga = pd.DataFrame()
for file in ga_files:
    file_path = os.path.join(path_dailyrawdata, file)  # 파일의 전체 경로 생성
    temp_df = pd.read_excel(file_path, dtype={'아이디': str}) # 파일을 데이터프레임으로 읽기
    raw_df_ga = pd.concat([raw_df_ga, temp_df], ignore_index=True)  # 읽은 데이터프레임을 기존 데이터프레임에 합치기

# 모든 'ga'로 시작하는 파일을 하나의 데이터프레임으로 합친 결과를 raw_df_ga 변수에 저장
    
# 빈 데이터프레임을 생성하여 파일을 하나씩 읽어서 합치기
raw_df_blog = pd.DataFrame()
for file in blog_files:
    file_path = os.path.join(path_dailyrawdata, file)  # 파일의 전체 경로 생성
    temp_df = pd.read_excel(file_path, dtype={'아이디': str}) # 파일을 데이터프레임으로 읽기
    raw_df_blog = pd.concat([raw_df_blog, temp_df], ignore_index=True)  # 읽은 데이터프레임을 기존 데이터프레임에 합치기

In [360]:
df_ga = raw_df_ga.copy()
df_blog = raw_df_blog.copy()

In [361]:
# 합쳐진 파일은 바탕화면에 따로 저장해둠.
# raw_df_ga.to_excel(os.path.join(desktop_path, 'GA.xlsx'), index = False)
# raw_df_blog.to_excel(os.path.join(desktop_path, 'blog.xlsx'), index = False)

In [362]:
print(df_ga.shape)
print(df_blog.shape)

(31885, 13)
(2471, 9)

## Def

In [363]:
def modify_url(url_0, all_keys):
    if url_0 is None or not isinstance(url_0, str):
        return url_0  # Skip if the URL is None or not a string

    # Remove '=' from the beginning
    if url_0.startswith('='):
        url_0 = url_0[1:]
    
    url_0 = url_0.replace('https://m.', 'https://')
    url_0 = url_0.replace('https://s.', 'https://')

    parsed_url = urlparse(url_0)
    scheme = parsed_url.scheme
    netloc = parsed_url.netloc
    path = parsed_url.path
    query = parsed_url.query
    fragment = parsed_url.fragment

    if path.endswith('/PostView.naver') or path.endswith('/PostList.naver') or path.endswith('/FeedList.naver'):
        path = ''

    query_dict = parse_qs(query)

    all_keys.update(query_dict.keys())

    params_to_keep_query = ['blogId', 'logNo', 'bmode', 'idx']  # Include 'bmode' and 'idx'

    # Collect items to remove
    items_to_remove = []
    for param, values in query_dict.items():
        if param not in params_to_keep_query:
            items_to_remove.append(param)

    # Remove items after iteration
    for param in items_to_remove:
        del query_dict[param]

    modified_query = urlencode(query_dict, doseq=True)
    modified_url = urlunparse((scheme, netloc, path, '', modified_query, ''))

    if modified_url.endswith('/'):
        modified_url = modified_url[:-1]

    return modified_url




def extract_korean(text):
    if text is None or not isinstance(text, str):
        return text  # 입력값이 None 또는 문자열이 아닌 경우 그대로 반환

    # '+'를 띄어쓰기로 치환한 후, 모든 한글을 추출하는 정규표현식
    korean_pattern = re.compile('[ㄱ-ㅎㅏ-ㅣ가-힣]+')
    text = text.replace('\\+', ' ')
    result = korean_pattern.findall(text)
    return ''.join(result) if result else text

# Custom function to parse the date and time
def custom_datetime_parser(date_str):
    # Regular expression pattern to match date and time elements
    pattern = r'(\d{4})\. (\d{1,2})\. (\d{1,2})\. (\S+) (\d{1,2}:\d{2}:\d{2})'

    # Extract date and time components
    match = re.match(pattern, date_str)
    if match:
        year, month, day, am_pm, time = match.groups()
        hour, minute, second = map(int, time.split(':'))
        if am_pm == '오후' and hour < 12:
            hour += 12
        elif am_pm == '오전' and hour == 12:
            hour = 0
        return pd.Timestamp(year=int(year), month=int(month), day=int(day), hour=hour, minute=minute, second=second)
    else:
        return pd.NaT
    
    
def shift_values(row):
    cols = ['1', '2', '3', '4', '5']
    # Filter out None or NaN values
    filtered_values = [row[col] for col in cols if pd.notna(row[col])]
    # Shift values to the left
    for i, col in enumerate(cols):
        row[col] = filtered_values[i] if i < len(filtered_values) else None
    return row

def convert_column_name(col_name):
    if isinstance(col_name, str) and col_name.isdigit():
        return int(col_name)
    else:
        return col_name
    


# Function to determine the prefix based on "node"
def get_prefix(node):
    if node.startswith("https://blog.naver.com/hanpro911"):
        return "BH"
    elif node.startswith("https://blog.naver.com/mysecondplace"):
        return "BM"
    elif node.startswith("https://blog.naver.com"):
        return "BZ"
    elif node.startswith("https://cafe.naver.com/mysecondhouse1"):
        return "CM"
    elif node.startswith("https://mysecondplace.co.kr") and ("bmode=write" in node or "prod_code" in node):
        return "HA"
    elif node.startswith("https://mysecondplace.co.kr"):
        return "HH"
    elif node.startswith("https://maily.so"):
        return "HB"
    elif node.startswith("https://whattime.co.kr"):
        return "HC"
    elif node.startswith("https://m2place.imweb.me"):
        return "HO"
    elif node.startswith("https://instagram.com/mysecondplace_"):
        return "|M"
    elif node.startswith("http://pf.kakao.com/_vxkxngb"):
        return "KC"
    elif node.startswith("http"):
        return "SE"
    else:
        return "SK"
    
def get_last_number(column, prefix):
    last_number = 0
    for value in column.dropna():  # Exclude NaN values
        if str(value).startswith(prefix):
            last_number = max(last_number, int(str(value).split('-')[-1]))
    return last_number

# df_ga, df_blog의 규격화

## Blog

### node

In [364]:
# Filter rows based on whether contents_url starts with "http"
url_rows = df_blog[df_blog['before'].str.startswith('http')]
# Filter rows based on whether contents_url does not start with "http"
keyword_rows = df_blog[~df_blog['before'].str.startswith('http')]
# referer 구분하기
url_parts = url_rows['before'].apply(lambda x: re.split('proxyReferer|topReferer', x))
url_parts = url_parts.apply(lambda parts: [unquote(part.lstrip('=')) for part in parts])
url_parts = url_parts.apply(lambda parts: [unquote(part) for part in parts])
url_parts = url_parts.apply(lambda parts: [unquote(part) for part in parts])
url_parts = url_parts.apply(lambda parts: [unquote(part) for part in parts])
# Convert url_parts to a list
url_parts_list = url_parts.tolist()
# Create a new DataFrame with the referers
referers_df = pd.DataFrame(url_parts_list, columns=['url_before', 'url_referer_1', 'url_referer_2', 'url_referer_3'])
url_rows_reset = url_rows.reset_index(drop=True)
referers_df_reset = referers_df.reset_index(drop=True)

url_rows_2 = pd.concat([url_rows_reset, referers_df_reset], axis=1)
all_keys = set()

# Apply modifications to url_before, url_referer_1, url_referer_2, url_referer_3
for column in ['url_before', 'url_referer_1', 'url_referer_2', 'url_referer_3']:
    url_rows_2[f'modified_{column}'] = url_rows_2[column].apply(lambda x: extract_korean(x) if (isinstance(x, str) and any(c >= '가' and c <= '힣' for c in x)) else modify_url(x, all_keys))

# url을 정리한 값과 분리했었던 keyword_row 합치기
df_blog_2 = pd.concat([url_rows_2, keyword_rows],ignore_index=True)
df_blog_2['modified_url_before'] = df_blog_2['modified_url_before'].fillna(df_blog_2['before'])
df_blog_2['id'] = None
df_blog_2['id'] = df_blog_2.index + 1
df_blog_2['id'] = df_blog_2['id'].apply(lambda x: f'b-{x:06d}')

# Creating a new DataFrame 'df_acq' with selected columns from 'df_blog_standard'
df_blog_3 = df_blog_2[['id', 'date_info', 'before_count','node', 'modified_url_before', 'modified_url_referer_1', 'modified_url_referer_2', 'modified_url_referer_3']].copy()

# Renaming and reordering column
df_blog_3.rename(columns={
    'modified_url_referer_3': '1',
    'modified_url_referer_2': '2',
    'modified_url_referer_1': '3',
    'modified_url_before': '4',
    'node': '5'
}, inplace=True)

# before_count 만큼 행을 늘려라!
df_blog_3['before_count'] = df_blog_3['before_count'].astype(int).apply(lambda x: max(1, math.ceil(x)))

# page 순서대로 정리
df_blog_4 = df_blog_3.apply(shift_values, axis=1)
df_blog_4.dropna(axis=1, how='all', inplace=True)
df_blog_4 = df_blog_4.loc[df_blog_4.index.repeat(df_blog_4['before_count'])]

# 블로그 유입은 경로의 시작이 블로그가 아닌 아예 다른 곳인 경우만!
df_blog_5 = df_blog_4.copy()
df_blog_5.reset_index(drop=True, inplace=True)

# 'repeated_blog' DataFrame에서 '1'열의 값이 특정 조건을 만족하지 않는 행(= 시작 페이지가 블로그 페이지가 아닌)을 골라내자.
condition = (~df_blog_5['1'].str.startswith('https://blog.naver.com/mysecondplace')) & (~df_blog_5['1'].str.startswith('https://blog.naver.com/hanpro911'))
filtered_rows = df_blog_5[condition]

# '유입' 열에 해당 조건은 옮기고, 생긴 빈칸을 오른쪽에 있던 값으로 채움
df_blog_5.loc[condition, '유입'] = filtered_rows['1']
df_blog_5.loc[condition, '1'] = filtered_rows['2']
df_blog_5.loc[condition, '2'] = filtered_rows['3']
df_blog_5.loc[condition, '3'] = filtered_rows['4']
df_blog_5

# ga 데이터 형식의 컬럼을 추가
df_blog_5['소스'] = None
df_blog_5['매체'] = None
df_blog_5['캠페인'] = None
df_blog_5['컨텐츠'] = None
df_blog_5['검색어'] = None
df_blog_5['컨텐츠'] = None

# '유입' 데이터를 ga 형식으로 변환
df_blog_5['유입'] = df_blog_5['유입'].replace(np.nan, '')
df_blog_5.loc[pd.notna(df_blog_5['유입']) & df_blog_5['유입'].str.startswith('http'), '컨텐츠'] = df_blog_5['유입']
df_blog_5.loc[pd.notna(df_blog_5['유입']) & ~df_blog_5['유입'].str.startswith('http'), '검색어'] = df_blog_5['유입']
# 페이지 순서에 따른 열의 이름을 정리한다.
df_blog_5.columns = [convert_column_name(col) for col in df_blog_5.columns]

# 숫자 열 추출
numeric_columns = [col for col in df_blog_5.columns if isinstance(col, int)]
numeric_columns.sort()
# 열의 이름 변경
df_blog_5.rename(columns={
    '소스': 'source',
    '매체': 'medium',
    '캠페인': 'campaign',
    '컨텐츠': 'content',
    '검색어': 'keyword'
}, inplace=True)

# 최종 열의 순서와 필요한 것들만 추려서 df_blog_result에 저장
column_order = ['id', 'date_info', 'source', 'medium', 'campaign', 'content', 'keyword'] + numeric_columns
df_blog_result = df_blog_5[column_order].copy()
df_blog_result.columns = df_blog_result.columns.astype(str)
df_blog_result.dropna(how='all', inplace=True)

### Result_Blog

In [365]:
df_blog_result

,id,date_info,source,medium,campaign,content,keyword,1,2,3,4,5
0,b-000001,20240115,None,None,None,https://search.daum.net,None,https://blog.naver.com/mysecondplace/223208249149,None,None,None,None
1,b-000002,20240115,None,None,None,None,,https://blog.naver.com/mysecondplace/223208249149,https://blog.naver.com/mysecondplace/223212353603,None,None,None
2,b-000003,20240115,None,None,None,https://www.bing.com,None,https://blog.naver.com/mysecondplace/223241084754,None,None,None,None
3,b-000004,20240115,None,None,None,None,,https://blog.naver.com/mysecondplace/223289322164,https://blog.naver.com/mysecondplace/223258887581,None,None,None
4,b-000004,20240115,None,None,None,None,,https://blog.naver.com/mysecondplace/223289322164,https://blog.naver.com/mysecondplace/223258887581,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
3070,b-002467,20240303,None,None,None,None,노천탕 만들기,https://blog.naver.com/hanpro911/222612556607,None,None,None,None
3071,b-002468,20240303,None,None,None,None,야외 노천탕 부속,https://blog.naver.com/hanpro911/222612556607,None,None,None,None
3072,b-002469,20240303,None,None,None,None,욕조 화목 물데우기,https://blog.naver.com/hanpro911/222612556607,None,None,None,None
3073,b-002470,20240303,None,None,None,None,코일노천,https://blog.naver.com/hanpro911/222612760199,None,None,None,None
3074,b-002471,20240303,None,None,None,None,욕조 화목 물데우기,https://blog.naver.com/hanpro911/222613652847,None,None,None,None

## GA

### 전처리

In [366]:
# 체류시간 0인 경우 채우기
df_ga['체류시간'].fillna(0, inplace=True)
# Apply the custom datetime parser to the '시간' column
df_ga['date_info'] = df_ga['시간'].apply(custom_datetime_parser)
# Format the 'date_info' column as 'yyyymmdd'
df_ga['date_info'] = df_ga['date_info'].dt.strftime('%Y%m%d')
# node_standarization
all_keys = set()
df_ga['modified_node']=df_ga['정규화링크'].apply(lambda x:modify_url(x, all_keys))

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\14379243.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ga['체류시간'].fillna(0, inplace=True)

### admin_ids 추출하기

In [367]:

condition_a = df_ga['정규화링크'].str.contains('write|prod_code', case=False, regex=True)
condition_a = condition_a.fillna(False)  # NaN 값을 False로 대체
condition_a.value_counts()

filtered_a = df_ga[condition_a]

ids_a = filtered_a['아이디'].unique().tolist()  # 기존의 고유한 아이디 목록을 리스트로 변환
ids_a.extend(['1828185651.1705389498', '417241095.1705634348', '1602359817.1707964923'])  # 새로운 아이디를 추가

# condition_b = df_ga.groupby('아이디')['체류시간'].sum() >= 18000
# ids_b = condition_b[condition_b].index

ids_b = ['1021566177.1707466356', '1083942841.1695711394',
       '1120703410.1706587025', '112167875.1704799413',
       '1140615326.1706539096', '1158917536.1707880810',
       '1188470945.1704806360', '1195499539.1705461693',
       '1208982378.1707455391', '1250133156.1706801009',
       '130036583.1660629517', '1302147567.1707929419',
       '1312396219.1707191882', '1312429530.1677388875',
       '1323533573.1707880592', '1341286132.1689068932',
       '1341500281.1707228435', '135745452.1687348999',
       '1362795537.1707364318', '1392746774.1707093754',
       '1414598046.1706604478', '1437195581.1701747873',
       '1535161370.1707530975', '1542469471.1706330459',
       '1549941021.1706832674', '1588483927.1696296964',
       '1592112601.1686896453', '1627436795.1707440156',
       '1644808335.1706455834', '1645381003.1707756395',
       '1739828001.1705369497', '1757415153.1705996376',
       '1771636829.1707531355', '198483479.1707868974',
       '2054491282.1707951088', 
       '2078435867.1706074815', '2105957382.1707103400',
       '2115567724.1705386386', '278436795.1700370232', '288263341.1705334410',
       '302251614.1707783216', '306548010.1699417096', '335460286.1707105953',
       '352146708.1707529167', '400501807.1707570514', '420765241.1705305938',
       '48543513.1707440466', '52044247.1693770278', '54599874.1707924934',
       '555071005.1702130820', '577908767.1706330356', '593811738.1706411252',
       '605077705.1702539997', '639043677.1706935086', '649116625.1707636536',
       '736497018.1707340441', '740700171.1705212161', '744027507.1707038633',
       '768492148.1699924210', '771137756.1707490369', '799231654.1707925045',
       '813986486.1707308094', '838526411.1705675392', '858944222.1699852150',
       '861783116.1705336795', '892793016.1701953466', '910079147.1700545452',
       '920629470.1705452306', '936659568.1707636674', '965385222.1704683076',
       '97146443.1707440532']

admin_ids = set(ids_a) | set(ids_b)

print(len(ids_a), len(ids_b))
admin_ids

# 적용하려면 아래 코드를 주석처리하지 말고 실행하세요.
df_ga= df_ga[~df_ga['아이디'].isin(admin_ids)]

14 71

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\2562888977.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  condition_a = condition_a.fillna(False)  # NaN 값을 False로 대체

### node

In [368]:
df_ga_1 = df_ga[df_ga['이벤트명'] == 'page_view']

# grouped 객체 생성
grouped = df_ga_1.groupby(['아이디', 'date_info'])

# 가장 긴 그룹의 길이를 구함
max_length = grouped.size().max()

# 각 그룹에 대한 인덱스 생성
df_ga_1['dummy'] = grouped.cumcount() % max_length

# 컬럼 이름을 위한 새로운 컬럼 생성
df_ga_1['column_name'] = (grouped.cumcount() + 1).astype(str)

df_ga_2 = df_ga_1.pivot_table(
    index=['아이디', 'date_info'], 
    columns='column_name', 
    values='modified_node',
    aggfunc='first'
)

# Convert columns to float
df_ga_2.columns = df_ga_2.columns.astype(float)
# 컬럼 이름을 정수형으로 변환
df_ga_2.columns = df_ga_2.columns.astype(int)

# 컬럼을 숫자 순서대로 정렬
df_ga_2 = df_ga_2.sort_index(axis=1)
df_ga_2.sort_values(by='date_info', axis=0, inplace=True)
df_ga_2.reset_index(inplace=True)
def get_first_time(group):
    return group['시간'].iloc[0]
# Apply the function to the grouped object and reset the index
first_time_df = grouped.apply(get_first_time).reset_index()

df_ga_2 = pd.merge(df_ga_2, first_time_df, on=['아이디', 'date_info'], how='left', suffixes=('', '_first_time'))
df_ga_2.rename(columns={0: 'time'}, inplace=True)
df_ga_3 = df_ga[(df_ga['이벤트명'] == 'page_view') & df_ga['소스'].notna()]
df_ga_4 = pd.merge(df_ga_2, df_ga_3, left_on=['아이디', 'time', 'date_info'], right_on=['아이디', '시간', 'date_info'], how='left')
# 전환 여부를 묶어서 새로운 DataFrame 생성
df_ga_5 = df_ga[df_ga['전환여부'].notna()]
df_ga_6 = df_ga_5.groupby(['아이디', 'date_info'])['전환여부'].apply(lambda x: pd.Series(x.values)).unstack().reset_index()
df_ga_6

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1937879506.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ga_1['dummy'] = grouped.cumcount() % max_length
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1937879506.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ga_1['column_name'] = (grouped.cumcount() + 1).astype(str)
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1937879506.py:34: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  first_time_df = grouped.apply(get_first_time).reset_index()

                      아이디 date_info               0      1     2
0   1011287057.1707805267  20240213            회원가입    NaN   NaN
1   1050828352.1707741826  20240212            투어신청    NaN   NaN
2   1068553362.1707977891  20240215            회원가입    NaN   NaN
3   1091021041.1699653737  20240119            장바구니    NaN   NaN
4   1159656766.1706252146  20240126            회원가입    NaN   NaN
5   1241836515.1708742720  20240224            회원가입   회원가입  회원가입
6   1298951393.1707958294  20240219            뉴스레터    NaN   NaN
7   1333428201.1708490845  20240221            투어신청   투어신청   NaN
8   1333428201.1708490845  20240222            투어신청    NaN   NaN
9    144035867.1708486577  20240221            회원가입    NaN   NaN
10  1519922443.1707782788  20240213            투어신청    NaN   NaN
11  1767893859.1706580292  20240130            회원가입  서비스구매   NaN
12  1837415535.1705999129  20240123           서비스구매    NaN   NaN
13  1880489942.1708772348  20240224            회원가입    NaN   NaN
14  2055070092.1707875532  20240215           서비스구매    NaN   NaN
15  2077922478.1708864526  20240225            회원가입   회원가입   NaN
16  2095574560.1707805299  20240222           서비스구매    NaN   NaN
17  2108619332.1708145826  20240217            회원가입    NaN   NaN
18  2113030511.1708488983  20240221  파악하지 못한 전환 페이지    NaN   NaN
19   265988199.1709342452  20240302            투어신청    NaN   NaN
20   322917954.1705984434  20240123           서비스구매    NaN   NaN
21   346293318.1707362555  20240208            매물예약    NaN   NaN
22   429492541.1705458222  20240117            장바구니    NaN   NaN
23   563124492.1708094506  20240216            투어신청    NaN   NaN
24   569888144.1707224156  20240209            장바구니  서비스구매   NaN
25   709216321.1706669384  20240131            장바구니    NaN   NaN
26   719573913.1705709007  20240120            장바구니    NaN   NaN
27   864564312.1699098946  20240206            회원가입    NaN   NaN
28   876186389.1706079428  20240124            회원가입    NaN   NaN
29   927460467.1708183197  20240218            투어신청    NaN   NaN

In [369]:
# 새로운 열을 추가하여 최종 DataFrame 생성
num_conversions = df_ga_6.shape[1] - 2  # 전환여부 열을 제외한 열 개수
conversion_columns = [f'conversion_{i + 1}' for i in range(num_conversions)]
df_ga_6.columns = ['아이디', 'date_info'] + conversion_columns
# NaN 값 0으로 채우기
df_ga_6 = df_ga_6.fillna(0)

df_ga_7 = pd.merge(df_ga_4, df_ga_6, left_on=['아이디', 'date_info'], right_on=['아이디', 'date_info'], how='left')

# 숫자 열 추출
numeric_columns_ga = [col for col in df_ga_7.columns if isinstance(col, int)]
numeric_columns_ga.sort()
# 열의 이름 변경
df_ga_7.rename(columns={
    '아이디': 'id',
    '소스': 'source',
    '매체': 'medium',
    '캠페인': 'campaign',
    '컨텐츠': 'content',
    '검색어': 'keyword'
}, inplace=True)

# 최종 열의 순서와 필요한 것들만 추려서 df_blog_result에 저장
column_order_ga = ['id', 'date_info'] + conversion_columns + ['source', 'medium', 'campaign', 'content', 'keyword'] + numeric_columns_ga
df_ga_result = df_ga_7[column_order_ga].copy()
df_ga_result.columns = df_ga_result.columns.astype(str)
df_ga_result.dropna(how='all', inplace=True)
df_ga_result

,id,date_info,conversion_1,conversion_2,conversion_3,source,medium,campaign,content,keyword,...,97,98,99,100,101,102,103,104,105,106
0,378267997.1705278779,20240115,NaN,NaN,NaN,naver,blog_msp,세컨하우스의_모든것,https://blog.naver.com/mysecondplace/223297512585,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1568187487.1705309584,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_b,Facebook_Right_Column,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1185122586.1705319048,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_w,Facebook_Mobile_Feed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2064318243.1705309893,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_w,Facebook_Right_Column,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577969601.1705309539,20240115,NaN,NaN,NaN,fbad,class_3rd,before_w,Facebook_Right_Column,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5990,1167128109.1709463606,20240303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5991,89127226.1709464689,20240303,NaN,NaN,NaN,krypton36.co,referral,(referral),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5992,589785196.1709453523,20240303,NaN,NaN,NaN,youtube.com,referral,(referral),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5993,761329134.1709463611,20240303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5994,1043828764.1709427693,20240303,NaN,NaN,NaN,naver,organic,(organic),NaN,세컨하우스 난방,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Result_GA

In [370]:
df_ga_result

,id,date_info,conversion_1,conversion_2,conversion_3,source,medium,campaign,content,keyword,...,97,98,99,100,101,102,103,104,105,106
0,378267997.1705278779,20240115,NaN,NaN,NaN,naver,blog_msp,세컨하우스의_모든것,https://blog.naver.com/mysecondplace/223297512585,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1568187487.1705309584,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_b,Facebook_Right_Column,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1185122586.1705319048,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_w,Facebook_Mobile_Feed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2064318243.1705309893,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_w,Facebook_Right_Column,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577969601.1705309539,20240115,NaN,NaN,NaN,fbad,class_3rd,before_w,Facebook_Right_Column,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5990,1167128109.1709463606,20240303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5991,89127226.1709464689,20240303,NaN,NaN,NaN,krypton36.co,referral,(referral),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5992,589785196.1709453523,20240303,NaN,NaN,NaN,youtube.com,referral,(referral),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5993,761329134.1709463611,20240303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5994,1043828764.1709427693,20240303,NaN,NaN,NaN,naver,organic,(organic),NaN,세컨하우스 난방,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### GA + BLOG

In [371]:
df_result = pd.concat([df_ga_result, df_blog_result])

### Result_Blog+GA

In [372]:

# 기존 DataFrame에서 'id' 열 값 가져오기
ids = df_result['id']

# 새로운 new_id를 담을 딕셔너리 생성
new_id_dict = {}

# 새로운 new_id를 생성
counter = 1
for idx, id_value in enumerate(ids):
    if id_value not in new_id_dict:
        if id_value.startswith('b-'):
            new_id_dict[id_value] = id_value
        else:
            new_id_dict[id_value] = 'g-' + str(counter).zfill(6)
            counter += 1

# DataFrame에 새로운 열로 추가
df_result.insert(0, 'new_id', df_result['id'].map(new_id_dict))
df_result

,new_id,id,date_info,conversion_1,conversion_2,conversion_3,source,medium,campaign,content,...,97,98,99,100,101,102,103,104,105,106
0,g-000001,378267997.1705278779,20240115,NaN,NaN,NaN,naver,blog_msp,세컨하우스의_모든것,https://blog.naver.com/mysecondplace/223297512585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,g-000002,1568187487.1705309584,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_b,Facebook_Right_Column,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,g-000003,1185122586.1705319048,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_w,Facebook_Mobile_Feed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,g-000004,2064318243.1705309893,20240115,NaN,NaN,NaN,fbad,class_3rd,professional_w,Facebook_Right_Column,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,g-000005,1577969601.1705309539,20240115,NaN,NaN,NaN,fbad,class_3rd,before_w,Facebook_Right_Column,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3070,b-002467,b-002467,20240303,NaN,NaN,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3071,b-002468,b-002468,20240303,NaN,NaN,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3072,b-002469,b-002469,20240303,NaN,NaN,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3073,b-002470,b-002470,20240303,NaN,NaN,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3074,b-002471,b-002471,20240303,NaN,NaN,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [373]:
# 파일 경로 및 이름 생성
yesterday = datetime.now().date() - timedelta(days=1)
file_name = f"003_RawData_{yesterday}.xlsx"
full_file_path = os.path.join(upper_path, file_name)
df_result.to_excel(full_file_path, index=False)

# Request

### inflow -> 001_Inflow_Statistics_{yesterday}.xlsx"

In [374]:
count_hh = df_ga_result.shape[0]
count_bm_hh = len(df_ga_result[df_ga_result['content'].str.startswith('https://blog.naver.com/mysecondplace').fillna(False)])
count_bh_hh = len(df_ga_result[df_ga_result['content'].str.startswith('https://blog.naver.com/hanpro911').fillna(False)])
count_ia_hh = len(df_ga_result[df_ga_result['source'].str.startswith('ig').fillna(False)])
count_fa_hh = len(df_ga_result[df_ga_result['source'].str.startswith('fb').fillna(False)])
count_ih_hh = len(df_ga_result[df_ga_result['source'].str.startswith('linktr.ee').fillna(False)])
count_kw_hh = count_hh - df_ga_result['keyword'].isna().sum()
count_ir_hh = len(df_ga_result[df_ga_result['source'].str.startswith('igreels').fillna(False)])
count_yt_hh = len(df_ga_result[df_ga_result['source'].str.startswith('youtube').fillna(False)])
count_sy_hh = len(df_ga_result[df_ga_result['source'].str.startswith('youtube.com').fillna(False)])

count_bm = len(df_blog_result[df_blog_result['1'].str.startswith('https://blog.naver.com/mysecondplace')])
count_bh = len(df_blog_result[df_blog_result['1'].str.startswith('https://blog.naver.com/hanpro911')])

counts = {
    '홈페이지 방문수': count_hh,
    '마세플 블로그 방문수': count_bm,
    '마세플 블로그 보고 홈페이지 방문수': count_bm_hh,
    '한프로 블로그 방문수': count_bh,
    '한프로 블로그 보고 홈페이지 방문수': count_bh_hh,
    '인스타광고(릴스 광고 포함) 보고 홈페이지 방문수': count_ia_hh,
    '인스타 릴스 광고 보고 홈페이지 방문수': count_ir_hh,
    '페북광고 보고 홈페이지 방문수': count_fa_hh,
    '인스타 홈 보고 홈페이지 방문수': count_ih_hh,
    '검색어로 홈페이지 방문수': count_kw_hh,
    '유튜브에서 홈페이지 방문수': count_yt_hh,
    '유튜브 동영상 보고 홈페이지 방문수': count_yt_hh - count_sy_hh

}

# Create DataFrame
inflow_statistics = pd.DataFrame(list(counts.items()), columns=['Category', 'Count'])
file_name = f"001_Inflow_Statistics_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
inflow_statistics.to_excel(full_file_path, index=False)
inflow_statistics

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_bm_hh = len(df_ga_result[df_ga_result['content'].str.startswith('https://blog.naver.com/mysecondplace').fillna(False)])
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_bh_hh = len(df_ga_result[df_ga_result['content'].str.startswith('https://blog.naver.com/hanpro911').fillna(False)])
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_ia_hh = len(df_ga_result[df_ga_result['source'].str.startswith('ig').fillna(False)])
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_fa_hh = len(df_ga_result[df_ga_result['source'].str.startswith('fb').fillna(False)])
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_ih_hh = len(df_ga_result[df_ga_result['source'].str.startswith('linktr.ee').fillna(False)])
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_ir_hh = len(df_ga_result[df_ga_result['source'].str.startswith('igreels').fillna(False)])
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_yt_hh = len(df_ga_result[df_ga_result['source'].str.startswith('youtube').fillna(False)])
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\1797012180.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  count_sy_hh = len(df_ga_result[df_ga_result['source'].str.startswith('youtube.com').fillna(False)])

                       Category  Count
0                      홈페이지 방문수   5995
1                   마세플 블로그 방문수   1949
2           마세플 블로그 보고 홈페이지 방문수    118
3                   한프로 블로그 방문수    969
4           한프로 블로그 보고 홈페이지 방문수     36
5   인스타광고(릴스 광고 포함) 보고 홈페이지 방문수   2759
6         인스타 릴스 광고 보고 홈페이지 방문수    612
7              페북광고 보고 홈페이지 방문수    445
8             인스타 홈 보고 홈페이지 방문수    170
9                 검색어로 홈페이지 방문수    727
10               유튜브에서 홈페이지 방문수    208
11          유튜브 동영상 보고 홈페이지 방문수    130

### Keyword -> 02_Inflow_Keyword_{yesterday}.xlsx

In [375]:
# Filter rows where 'keyword' is not "(not provided)"
keywords_hh = df_ga_result[df_ga_result['keyword'] != '(not provided)']
keyword_hh = pd.DataFrame({'Keyword_Homepage': keywords_hh['keyword'].value_counts().index, 'Count_Homepage': keywords_hh['keyword'].value_counts().values})
keyword_hh

       Keyword_Homepage  Count_Homepage
0    120206410183050614             144
1              마이세컨플레이스             108
2               마이세컨하우스               8
3            마이 세컨 플레이스               3
4              클리 세컨하우스               3
..                  ...             ...
99         시골집 소형 세컨하우스               1
100              세컨더 홈뜻               1
101     세컨하우스 겨울 온수기관리법               1
102     미등기시골집리모델링시허가사항               1
103            세컨하우스 난방               1

[104 rows x 2 columns]

In [376]:
# Create a copy of the DataFrame to avoid the warning
keywords_bm = df_blog_result[df_blog_result['1'].str.startswith("https://blog.naver.com/mysecondplace")].copy()
keywords_bh = df_blog_result[df_blog_result['1'].str.startswith("https://blog.naver.com/hanpro911")].copy()

# Strip whitespaces from the 'keyword' column
keywords_bm['keyword'] = keywords_bm['keyword'].str.strip()
keywords_bm = keywords_bm[keywords_bm['keyword'] != '']
keywords_bh['keyword'] = keywords_bh['keyword'].str.strip()
keywords_bh = keywords_bh[keywords_bh['keyword'] != '']


# For keywords_bm
keyword_bm = pd.DataFrame({'Keyword_blogMSP': keywords_bm.dropna(subset=['keyword'])['keyword'].value_counts().index,
                           'Count_blogMSP': keywords_bm.dropna(subset=['keyword'])['keyword'].value_counts().values})
# For keywords_bm
keyword_bh = pd.DataFrame({'Keyword_blogHAN': keywords_bh.dropna(subset=['keyword'])['keyword'].value_counts().index,
                           'Count_blogHAN': keywords_bh.dropna(subset=['keyword'])['keyword'].value_counts().values})

In [377]:
keyword_bm.head(20)

   Keyword_blogMSP  Count_blogMSP
0          세컨 하우스란            105
1          공주시골집매매             60
2        공주 시골집 매매             42
3            세컨하우스             41
4         공주 시골집매매             29
5   미등기 시골주택 등기 방법             25
6           화목 노천탕             22
7           시골집 구매             21
8         이케아 스카르푀             20
9           경계측량신청             20
10            스카르푀             19
11             릴호스             19
12         시골집 양성화             18
13         웨버그릴 47             16
14         미등기 시골집             15
15           시골집구매             12
16          시골집 데크             11
17        공주시골집 매매             11
18        화목난로 노천탕             10
19       시골집 건축물대장              9

In [378]:
keyword_bh.head(20)

   Keyword_blogHAN  Count_blogHAN
0          노천탕 만들기             71
1           화목 노천탕             31
2         경기도 빈집매매             21
3         마이세컨플레이스             17
4        시골집 세컨하우스             12
5          공주시골집매매             11
6        공주 시골집 매매              9
7           노천탕만들기              8
8             꺽지구이              8
9         시골 세컨하우스              7
10           꺽지 구이              7
11       세컨하우스 노천탕              7
12         시골세컨하우스              6
13      화목 노천탕 만들기              6
14            온수코일              6
15        공주농가주택빈집              5
16      경기도 시골집 매매              5
17           온수 코일              5
18          과세가옥대장              5
19        공주 시골집매매              5

In [379]:
inflow_keyword = pd.concat([keyword_bh, keyword_bm, keyword_hh], axis = 1)

In [380]:
file_name = f"002_Inflow_Keyword_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
inflow_keyword.to_excel(full_file_path, index=False)

### Conversion in HH -> 003_Conversion_HomepageData_{yesterday}.xlsx

In [381]:
conversion_df = df_ga_result[df_ga_result['conversion_1'].notna()]
conversion_ids = conversion_df['id']

# Corrected typo in the next line
df_conversion = df_ga[df_ga['아이디'].isin(conversion_ids)]
file_name = f"003_Conversion_HomepageData_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
df_conversion.to_excel(full_file_path, index=False)

# index for conversion
selected_columns = ['id'] + [col for col in conversion_df.columns if col.startswith('conversion')] + ['date_info']
# Use loc to select the specified columns and their corresponding index values
index_conversion = conversion_df.loc[:, selected_columns]


index_conversion

,id,conversion_1,conversion_2,conversion_3,date_info
273,429492541.1705458222,장바구니,0,0,20240117
587,1091021041.1699653737,장바구니,0,0,20240119
733,719573913.1705709007,장바구니,0,0,20240120
1140,1837415535.1705999129,서비스구매,0,0,20240123
1182,322917954.1705984434,서비스구매,0,0,20240123
1276,876186389.1706079428,회원가입,0,0,20240124
1381,1159656766.1706252146,회원가입,0,0,20240126
1530,1767893859.1706580292,회원가입,서비스구매,0,20240130
1557,709216321.1706669384,장바구니,0,0,20240131
1948,864564312.1699098946,회원가입,0,0,20240206
2407,346293318.1707362555,매물예약,0,0,20240208
2680,569888144.1707224156,장바구니,서비스구매,0,20240209
3074,1050828352.1707741826,투어신청,0,0,20240212
3135,1011287057.1707805267,회원가입,0,0,20240213
3140,1519922443.1707782788,투어신청,0,0,20240213
3254,1068553362.1707977891,회원가입,0,0,20240215
3273,2055070092.1707875532,서비스구매,0,0,20240215
3295,563124492.1708094506,투어신청,0,0,20240216
3341,2108619332.1708145826,회원가입,0,0,20240217
3364,927460467.1708183197,투어신청,0,0,20240218
3407,1298951393.1707958294,뉴스레터,0,0,20240219
3713,1333428201.1708490845,투어신청,투어신청,0,20240221
3715,2113030511.1708488983,파악하지 못한 전환 페이지,0,0,20240221
3962,144035867.1708486577,회원가입,0,0,20240221
4156,1333428201.1708490845,투어신청,0,0,20240222
4264,2095574560.1707805299,서비스구매,0,0,20240222
4377,1880489942.1708772348,회원가입,0,0,20240224
4385,1241836515.1708742720,회원가입,회원가입,회원가입,20240224
4390,2077922478.1708864526,회원가입,회원가입,0,20240225
5967,265988199.1709342452,투어신청,0,0,20240302

In [382]:
### Target Page -> 004_TargetPage_Market_{yesterday}.xlsx

In [383]:
# 매물 페이지 URL 리스트
urls = [
    'https://mysecondplace.co.kr/secondhouse_market',
    'https://mysecondplace.co.kr/gpa0006',
    'https://mysecondplace.co.kr/gpa0007',
    'https://mysecondplace.co.kr/gpa0008',
    'https://mysecondplace.co.kr/gongju_msp1',
    'https://mysecondplace.co.kr/gongju_msp2',
    'https://mysecondplace.co.kr/ya0010',
    'https://mysecondplace.co.kr/ya0009',
    'https://mysecondplace.co.kr/ya0008',
    'https://mysecondplace.co.kr/nhz0001',
    'https://mysecondplace.co.kr/gpa0004',
    'https://mysecondplace.co.kr/gpa0005',
    'https://mysecondplace.co.kr/gpa0002',
    'https://mysecondplace.co.kr/gpa0001',
    'https://mysecondplace.co.kr/gpa0003',
    'https://mysecondplace.co.kr/ya0006',
    'https://mysecondplace.co.kr/ya0007',
    'https://mysecondplace.co.kr/ya0003',
    'https://mysecondplace.co.kr/ya0005',
    'https://mysecondplace.co.kr/ya0004',
    'https://mysecondplace.co.kr/ga0002',
    'https://mysecondplace.co.kr/ga0003',
    'https://mysecondplace.co.kr/ga0004',
    'https://mysecondplace.co.kr/yb0001',
    'https://mysecondplace.co.kr/yc0002',
    'https://mysecondplace.co.kr/yc0001'
]

# 결과를 저장할 리스트
positions = []

# DataFrame을 반복하여 URL이 있는 위치 확인
for index, row in df_result.iterrows():
    found = False
    for col_name, cell_value in row.items():
        if isinstance(cell_value, str) and cell_value in urls:
            positions.append((index, col_name, cell_value))
            found = True
            break
    if not found:
        positions.append((index, None, None))

# positions 리스트를 DataFrame으로 변환
positions_df = pd.DataFrame(positions, columns=['row_index', 'found_in_column', 'found_url'])

# positions_df의 인덱스를 재설정
positions_df.reset_index(drop=True, inplace=True)

# df_result와 positions_df를 열 방향으로 합치기
df_result_with_target = pd.concat([df_result.reset_index(drop=True), positions_df], axis=1)

# 열 순서 정리
desired_order = ['row_index', 'new_id', 'id', 'date_info', 'found_in_column', 
                 'found_url', 'conversion_1', 'conversion_2', 'conversion_3', 
                 'source', 'medium', 'campaign', 'content']

# 원래 데이터프레임의 모든 열 이름 가져오기
all_columns = df_result_with_target.columns.tolist()

# desired_order에 있는 열을 제외한 모든 열 이름 가져오기
remaining_columns = [col for col in all_columns if col not in desired_order]

# desired_order와 나머지 열을 조합하여 열 순서를 완성
final_order = desired_order + remaining_columns

# 데이터프레임의 열 순서 변경
df_result_with_target = df_result_with_target.reindex(columns=final_order)

# found_url 열의 값이 있는 행만 필터링
filtered_df = df_result_with_target.dropna(subset=['found_url'])

file_name = f"004_TargetPage_Market_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
filtered_df.to_excel(full_file_path, index=False)

print('filtered_df.shape: ', filtered_df.shape)


# source, medium, campaign, content, keyword 열을 합친 값을 inflow 열로 추가
filtered_df['inflow'] = filtered_df[['source', 'medium', 'campaign', 'content', 'keyword']].apply(lambda x: '_'.join(x.dropna().astype(str)), axis=1)




# URL 리스트를 DataFrame으로 변환
urls_df = pd.DataFrame({'urls': urls})

# 개별 url 마다 found_url에 있는 개수를 count한 결과 계산
count_result = urls_df['urls'].apply(lambda url: (url, filtered_df['found_url'].eq(url).sum()))

# 각 URL로 그룹화하여 inflow 열의 값들의 빈도수 계산
grouped_inflow = filtered_df.groupby('found_url')['inflow'].value_counts()

# 각 URL 별로 상위 10개 항목의 빈도수 구하기
top_10_freq_per_url = {}
for url, _ in count_result:
    top_10 = grouped_inflow[url].nlargest(10)
    top_10_freq_per_url[url] = top_10

# 결과를 DataFrame으로 변환
result_df = pd.DataFrame(columns=['target_page'] + [f'Top{i}_Inflow' for i in range(1, 11)])

for url, top_10 in top_10_freq_per_url.items():
    row_data = [f"{inflow}({count})" for inflow, count in top_10.items()]
    row_data = [url] + row_data + [''] * (10 - len(row_data))  # Fill empty slots
    result_df = pd.concat([result_df, pd.DataFrame([row_data], columns=result_df.columns)], ignore_index=True)

# found_url, count_result 데이터프레임 생성
count_df = pd.DataFrame(count_result.tolist(), columns=['found_url', 'count_result'])
count_df.set_index('found_url', inplace=True)

# Merge count_df with result_df on 'found_url' column
final_df = pd.merge(count_df, result_df, left_on='found_url', right_on='target_page', how='left')

# 열 이름 변경 (대문자를 소문자로 변경)
final_df.columns = final_df.columns.str.lower()
final_df.rename(columns={'count_result': 'count', 'target_page': 'target_page'}, inplace=True)

# 열 순서 변경
final_df = final_df[['target_page', 'count'] + [f'top{i}_inflow' for i in range(1, 11)]]

# 저장
file_name = f"005_TargetPage_Market_Stat_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
final_df.to_excel(full_file_path, index=False)


# 결과 출력
final_df

filtered_df.shape:  (1933, 120)

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\4172121951.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['inflow'] = filtered_df[['source', 'medium', 'campaign', 'content', 'keyword']].apply(lambda x: '_'.join(x.dropna().astype(str)), axis=1)

,target_page,count,top1_inflow,top2_inflow,top3_inflow,top4_inflow,top5_inflow,top6_inflow,top7_inflow,top8_inflow,top9_inflow,top10_inflow
0,https://mysecondplace.co.kr/secondhouse_market,489,linktr.ee_referral_(referral)(81),(77),google_organic_(organic)_(not provided)(55),naver_organic_(organic)_마이세컨플레이스(43),naver.com_referral_(referral)(33),youtube.com_referral_(referral)(11),igad_class_3rd_professional_w_Instagram_Feed(10),naver_blog_hanpro911_세컨하우스개발_구매하기_https://blog...,googlead_market_(not provided)(7),m.search.naver.com_referral_(referral)(7)
1,https://mysecondplace.co.kr/gpa0006,14,newsletter_gapyeong0221_gapyeong0221(8),(3),google_organic_(organic)_(not provided)(1),naver_organic_(organic)_마이세컨플레이스(1),newsletter_gapyeong0221_gapyeong0221_(not prov...,,,,,
2,https://mysecondplace.co.kr/gpa0007,7,newsletter_gapyeong0221_gapyeong0221(4),(1),naver_organic_(organic)_마이세컨플레이스(1),youtube.com_referral_(referral)(1),,,,,,
3,https://mysecondplace.co.kr/gpa0008,3,newsletter_gapyeong0221_gapyeong0221(3),,,,,,,,,
4,https://mysecondplace.co.kr/gongju_msp1,109,(21),google_organic_(organic)_(not provided)(15),linktr.ee_referral_(referral)(11),igad_03_tour_18_Instagram_Feed(8),naver_organic_(organic)_마이세컨플레이스(5),igad_03_tour_05_Instagram_Feed(4),naver.com_referral_(referral)(4),igad_03_tour_01_Instagram_Feed(3),igad_03_tour_07_Instagram_Feed(3),igad_03_tour_08_Instagram_Feed(3)
5,https://mysecondplace.co.kr/gongju_msp2,865,igreels_gj_0002_노픈집투어(251),shortsad_gj_0002_1_{youtube.com}(156),igreels_gj_0002_1_Instagram_Reels_120206410183...,(47),igreels_gj_0002_1_Instagram_Stories_1202064101...,igreels_gj_0002_1_Instagram_Feed_1202064101830...,igreels_gj_0002_1_Instagram_Reels(20),igad_03_tour_18_Instagram_Feed(18),linktr.ee_referral_(referral)(17),google_organic_(organic)_(not provided)(13)
6,https://mysecondplace.co.kr/ya0010,26,igreels_ya0010_양평숲뷰(14),(3),newsletter_yangpyeong0214_yangpyeong0214(3),google_organic_(organic)_(not provided)(2),igad_03_tour_18_Instagram_Feed(1),m.search.naver.com_referral_(referral)(1),naver_organic_(organic)_마이세컨플레이스(1),youtube.com_referral_(referral)(1),,
7,https://mysecondplace.co.kr/ya0009,9,newsletter_yangpyeong0214_yangpyeong0214(6),(1),google_organic_(organic)_(not provided)(1),linktr.ee_referral_(referral)(1),,,,,,
8,https://mysecondplace.co.kr/ya0008,13,newsletter_yangpyeong0214_yangpyeong0214(6),(3),naver_organic_(organic)_마이세컨플레이스(2),linktr.ee_referral_(referral)(1),m.kin.naver.com_referral_(referral)(1),,,,,
9,https://mysecondplace.co.kr/nhz0001,52,(16),newsletter_namhae0207_nhz0001(14),igreels_nhz0001_남해바닷가집(9),linktr.ee_referral_(referral)(7),kauth.kakao.com_referral_(referral)(2),naver.com_referral_(referral)(2),naver_organic_(organic)_마이세컨플레이스(2),,,
10,https://mysecondplace.co.kr/gpa0004,23,newsletter_gapyeong0207_gpa0004(6),igreels_gpa0004_가평잣나무(5),google_organic_(organic)_(not provided)(4),linktr.ee_referral_(referral)(4),(2),kauth.kakao.com_referral_(referral)(1),youtube_video_WLT_https://youtu.be/7-vOl-47p9g(1),,,
11,https://mysecondplace.co.kr/gpa0005,4,m.search.naver.com_referral_(referral)(1),naver_organic_(organic)_마이세컨드플렛이스(1),naver_organic_(organic)_마이세컨플레이스(1),newsletter_gapyeong0207_gpa0005(1),,,,,,
12,https://mysecondplace.co.kr/gpa0002,12,newsletter_gapyeong0132_gpa0002(6),(2),naver_organic_(organic)_마이세컨플레이스(2),google_organic_(organic)_(not provided)(1),linktr.ee_referral_(referral)(1),,,,,
13,https://mysecondplace.co.kr/gpa0001,10,newsletter_gapyeong0131_gpa0001(5),linktr.ee_referral_(referral)(2),bonangels.net_referral_(referral)(1),naver.com_referral_(referral)(1),naver_organic_(organic)_가평 세컨하우스매물(1),,,,,
14,https://mysecondplace.co.kr/gpa0003,4,linktr.ee_referral_(referral)(2),(1),google_organic_(organic)_(not provided)(1),,,,,,,
15,https://mysecondplace.co.kr/ya0006,20,(10),google_organic_(organic)_(not provided)(9),youtube.com_referral_(referral)(1),,,,,,,
16,https://mysecondplace.co.kr/ya0007,7,(6),naver.com_referral_(referral)(1),,,,,,,,
17,https://mysecondplace.co.kr/ya0003,10,(6),google_organic_(organic)_(not provided)(2),linktr.ee_referral_(referral)(1),m.kin.naver.com_referral_(referral)(1),,,,,,
18,https://mysecondplace.co.kr/ya0005,4,(4),,,,,,,,,
19,https://mysecondplace.co.kr/ya0004,8,(5),naver_organic_(organic)_마이세컨플레이스(2),youtube.com_referral_(referral)(1),,,,,,,
20,https://mysecondplace.co.kr/ga0002,32,(9),google_organic_(organic)_(not provided)(4),linktr.ee_referral_(referral)(3),naver.com_referral_(referral)(3),m.search.naver.com_referral_(referral)(2),maily.so_referral_(referral)(2),naver_organic_(organic)_마이세컨플레이스(2),blog.naver.com_referral_(referral)(1),m.blog.naver.com_referral_(referral)(1),naver_organic_(organic)_강화도 세컨하우스(1)
21,https://mysecondplace.co.kr/ga0003,70,igreels_ga_0003_1_Instagram_Feed(29),igreels_ga_0003_1_Instagram_Stories(14),igreels_ga_0003_1_Instagram_Reels(9),(4),igreels_ga_0003_1_Facebook_Right_Column(3),igreels_ga_0003_1_Instagram_Explore(3),google_organic_(organic)_(not provided)(2),linktr.ee_referral_(referral)(2),igreels_ga_0003_1_Others(1),kauth.kakao.com_referral_(referral)(1)
22,https://mysecondplace.co.kr/ga0004,7,google_organic_(organic)_(not provided)(4),naver_organic_(organic)_마이세컨플레이스(2),(1),,,,,,,
23,https://mysecondplace.co.kr/yb0001,106,igreels_yb_0001_1_Instagram_Feed(52),igreels_yb_0001_1_Instagram_Reels(21),(9),igreels_yb_0001_1_Instagram_Stories(4),google_organic_(organic)_(not provided)(3),igreels_yb_0001_1_Facebook_Right_Column(3),igreels_yb_0001_1_Others(3),igreels_yb_0001_1_Instagram_Explore(2),linktr.ee_referral_(referral)(2),naver.com_referral_(referral)(2)
24,https://mysecondplace.co.kr/yc0002,9,naver_organic_(organic)_마이세컨플레이스(3),(2),google_organic_(organic)_(not provided)(2),krypton36.co_referral_(referral)(1),naver_blog_msp_세컨하우스_구매/관리_https://blog.naver....,,,,,
25,https://mysecondplace.co.kr/yc0001,20,(9),google_organic_(organic)_(not provided)(4),bonangels.net_referral_(referral)(1),maily.so_referral_(referral)(1),naver_organic_(organic)_마이세컨플레이스 site:mysecond...,naver_organic_(organic)_양수리 리버사이드하우스(1),naver_organic_(organic)_양평 세컨하우스 11평(1),naver_organic_(organic)_엠제트큐(1),naver_organic_(organic)_파카소 공유별장(1),

In [384]:
# 서비스 유입 분석
# 서비스 페이지
urls = [
    'https://mysecondplace.co.kr/secondhouse_service',
    'https://mysecondplace.co.kr/secondhouse_service/?idx=36',
    'https://mysecondplace.co.kr/secondhouse_service/?idx=35',
    'https://mysecondplace.co.kr/secondhouse_service/?idx=32',
    'https://mysecondplace.co.kr/secondhouse_service/?idx=30',
    'https://mysecondplace.co.kr/secondhouse_service/?idx=33',
    'https://mysecondplace.co.kr/secondhouse_service/?idx=31',
]


# 결과를 저장할 리스트
positions = []

# DataFrame을 반복하여 URL이 있는 위치 확인
for index, row in df_result.iterrows():
    found = False
    for col_name, cell_value in row.items():
        if isinstance(cell_value, str) and cell_value in urls:
            positions.append((index, col_name, cell_value))
            found = True
            break
    if not found:
        positions.append((index, None, None))

# positions 리스트를 DataFrame으로 변환
positions_df = pd.DataFrame(positions, columns=['row_index', 'found_in_column', 'found_url'])

# positions_df의 인덱스를 재설정
positions_df.reset_index(drop=True, inplace=True)

# df_result와 positions_df를 열 방향으로 합치기
df_result_with_target = pd.concat([df_result.reset_index(drop=True), positions_df], axis=1)

# 열 순서 정리
desired_order = ['row_index', 'new_id', 'id', 'date_info', 'found_in_column', 
                 'found_url', 'conversion_1', 'conversion_2', 'conversion_3', 
                 'source', 'medium', 'campaign', 'content']

# 원래 데이터프레임의 모든 열 이름 가져오기
all_columns = df_result_with_target.columns.tolist()

# desired_order에 있는 열을 제외한 모든 열 이름 가져오기
remaining_columns = [col for col in all_columns if col not in desired_order]

# desired_order와 나머지 열을 조합하여 열 순서를 완성
final_order = desired_order + remaining_columns

# 데이터프레임의 열 순서 변경
df_result_with_target = df_result_with_target.reindex(columns=final_order)

# found_url 열의 값이 있는 행만 필터링
filtered_df = df_result_with_target.dropna(subset=['found_url'])

file_name = f"006_Inflow_Service_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
filtered_df.to_excel(full_file_path, index=False)

print('filtered_df.shape: ', filtered_df.shape)

# source, medium, campaign, content, keyword 열을 합친 값을 inflow 열로 추가
filtered_df['inflow'] = filtered_df[['source', 'medium', 'campaign', 'content', 'keyword']].apply(lambda x: '_'.join(x.dropna().astype(str)), axis=1)


# URL 리스트를 DataFrame으로 변환
urls_df = pd.DataFrame({'urls': urls})

# 개별 url 마다 found_url에 있는 개수를 count한 결과 계산
count_result = urls_df['urls'].apply(lambda url: (url, filtered_df['found_url'].eq(url).sum()))

# 각 URL로 그룹화하여 inflow 열의 값들의 빈도수 계산
grouped_inflow = filtered_df.groupby('found_url')['inflow'].value_counts()

# 각 URL 별로 상위 10개 항목의 빈도수 구하기
top_10_freq_per_url = {}
for url, _ in count_result:
    if url in grouped_inflow:
        top_10 = grouped_inflow[url].nlargest(10)
    else:
        top_10 = pd.Series(dtype=int)
        for i in range(1, 11):
            top_10[f'Top{i}_Inflow'] = np.nan
    top_10_freq_per_url[url] = top_10

# 결과를 DataFrame으로 변환
result_df = pd.DataFrame(columns=['target_page'] + [f'Top{i}_Inflow' for i in range(1, 11)])

for url, top_10 in top_10_freq_per_url.items():
    row_data = [f"{inflow}({count})" for inflow, count in top_10.items()]
    row_data = [url] + row_data + [''] * (10 - len(row_data))  # Fill empty slots
    result_df = pd.concat([result_df, pd.DataFrame([row_data], columns=result_df.columns)], ignore_index=True)

# found_url, count_result 데이터프레임 생성
count_df = pd.DataFrame(count_result.tolist(), columns=['found_url', 'count_result'])
count_df.set_index('found_url', inplace=True)

# Merge count_df with result_df on 'found_url' column
final_df = pd.merge(count_df, result_df, left_index=True, right_on='target_page', how='left')

# 열 이름 변경 (대문자를 소문자로 변경)
final_df.columns = final_df.columns.str.lower()
final_df.rename(columns={'count_result': 'count', 'target_page': 'target_page'}, inplace=True)

# 열 순서 변경
final_df = final_df[['target_page', 'count'] + [f'top{i}_inflow' for i in range(1, 11)]]

# 저장
file_name = f"007_TargetPage_Service_Stat_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
final_df.to_excel(full_file_path, index=False)

# 결과 출력
final_df

filtered_df.shape:  (1652, 120)

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_7676\2813883899.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['inflow'] = filtered_df[['source', 'medium', 'campaign', 'content', 'keyword']].apply(lambda x: '_'.join(x.dropna().astype(str)), axis=1)

,target_page,count,top1_inflow,top2_inflow,top3_inflow,top4_inflow,top5_inflow,top6_inflow,top7_inflow,top8_inflow,top9_inflow,top10_inflow
0,https://mysecondplace.co.kr/secondhouse_service,270,(66),google_organic_(organic)_(not provided)(46),naver_organic_(organic)_마이세컨플레이스(28),naver.com_referral_(referral)(15),linktr.ee_referral_(referral)(11),m.search.naver.com_referral_(referral)(11),igreels_gj_0002_노픈집투어(6),youtube.com_referral_(referral)(6),igad_03_tour_18_Instagram_Feed(4),igad_03_tour_05_Instagram_Feed(3)
1,https://mysecondplace.co.kr/secondhouse_servic...,1015,igad_class_3rd_professional_w_Instagram_Feed(299),igad_class_3rd_before_w_Instagram_Feed(181),fbad_class_3rd_before_w_Facebook_Mobile_Feed(145),fbad_class_3rd_professional_w_Facebook_Mobile_...,igad_class_3rd_before_w_Instagram_Explore(47),igad_class_3rd_professional_w_Instagram_Explor...,igad_class_3rd_before_w_Instagram_Reels(20),igad_class_3rd_professional_w_Instagram_Reels(20),fbad_class_3rd_professional_w_Others(12),igad_class_3rd_before_b_Instagram_Feed(12)
2,https://mysecondplace.co.kr/secondhouse_servic...,13,youtube_video_CCBS_https://youtu.be/Vv8GnYaOK8...,youtube_video_SLT_https://youtu.be/CAPF6vogsCc(2),youtube_video_SLT_https://youtu.be/Cn0KQwR0Mho(2),youtube_video_SLT_https://youtu.be/gmAJ9R3cnv0(2),youtube_video_video_https://youtu.be/uBeB4dlWI...,naver_organic_(organic)_시골 땅 팔기 농업진흥원(1),youtube_video_SLT_https://youtu.be/ZUtQmUSEShk(1),youtube_video_SLT_https://youtu.be/uIsh86jyiSY(1),,
3,https://mysecondplace.co.kr/secondhouse_servic...,0,Top1_Inflow(nan),Top2_Inflow(nan),Top3_Inflow(nan),Top4_Inflow(nan),Top5_Inflow(nan),Top6_Inflow(nan),Top7_Inflow(nan),Top8_Inflow(nan),Top9_Inflow(nan),Top10_Inflow(nan)
4,https://mysecondplace.co.kr/secondhouse_servic...,18,(5),youtube_video_CCBS_https://youtu.be/QxPNcHUcb-...,youtube_video_CCBS_https://youtu.be/mM7AnCDaep...,youtube_video_CCBS_https://youtu.be/sjrf0WUPbI...,youtube_video_SLT_https://youtu.be/Tc8qUPDnm4Y(2),,,,,
5,https://mysecondplace.co.kr/secondhouse_servic...,277,igcard_card_03_무허가미등기(165),naver_blog_msp_세컨하우스의_모든것_https://blog.naver.c...,youtube.com_referral_(referral)(12),igcard_card_05_농어촌주택(9),(5),youtube_video_SLT_https://youtu.be/otVh_sTx880(3),naver_organic_(organic)_미등기 시골집 양성화(2),youtube_video_CCBS_https://youtu.be/ZIzf4flRnC...,kauth.kakao.com_referral_(referral)(1),m.search.naver.com_referral_(referral)(1)
6,https://mysecondplace.co.kr/secondhouse_servic...,59,naver_blog_msp_세컨하우스의_모든것_https://blog.naver.c...,(2),youtube_video_MLT_https://youtu.be/2FBgBkuzXqA(2),youtube_video_MLT_https://youtu.be/60z0G3ZRUxo(2),youtube_video_MLT_https://youtu.be/6Q0FAY9GnWA(2),youtube_video_MLT_https://youtu.be/9yxepwDVmWI(2),youtube_video_MLT_https://youtu.be/D5uUDHdlNeE(2),youtube_video_MLT_https://youtu.be/GzuxcKsZsak(2),youtube_video_MLT_https://youtu.be/HZHddrh5eLE(2),youtube_video_MLT_https://youtu.be/IoVaOL8CFlg(2)

In [385]:
# 특정한 id의 전체 행동을 추출
## 특정한 id 선택
### df_result에서 source가 igreels인 경우

igreels_ids_sorted = sorted(df_result[df_result['source'] == 'igreels']['id'].tolist())
print(len(igreels_ids_sorted), "개의 id")
igreels_ids_sorted

612 개의 id

['1004136117.1697613369',
 '1008042686.1708605589',
 '1012062606.1708483186',
 '1014735702.1708497805',
 '1014877735.1707668021',
 '1019278131.1707628757',
 '1021015784.1708436413',
 '1023018948.1707299466',
 '1033168662.1707472712',
 '1033168662.1707472712',
 '1033637199.1708417375',
 '1038505265.1708475790',
 '1041664988.1706015221',
 '1041664988.1706015221',
 '1041664988.1706015221',
 '1042502666.1708578891',
 '1043575119.1692110720',
 '1047965331.1708490003',
 '1050828352.1707741826',
 '1051547271.1707665009',
 '1051547271.1707665009',
 '1052586369.1708425892',
 '1062519455.1707734369',
 '1062567649.1707205585',
 '1065164114.1697873403',
 '1069801255.1708494861',
 '1074478303.1708576860',
 '107505261.1707220511',
 '1079869378.1707544719',
 '1080284080.1691654820',
 '1080579394.1708573445',
 '1081267623.1708519300',
 '1086676056.1708541891',
 '108758320.1707326743',
 '1088616490.1708463530',
 '1088786851.1700045639',
 '1089509498.1692364455',
 '1090340132.1707122317',
 '1090340132.1707122317',
 '1090340132.1707122317',
 '1090340132.1707122317',
 '1090340132.1707122317',
 '1094557665.1707205274',
 '1094590309.1708414354',
 '1100398369.1693746857',
 '1102643303.1676883758',
 '1107912774.1707746003',
 '1121898591.1707544023',
 '1122663159.1707266147',
 '1130239469.1707196301',
 '1135692901.1694234386',
 '1146974630.1707401948',
 '1147238901.1707210025',
 '115243222.1708598968',
 '11540413.1707711089',
 '1154804613.1707311680',
 '115601215.1707645279',
 '1159793807.1707546877',
 '1159793807.1707546877',
 '1160357143.1697615166',
 '1162205010.1707479005',
 '1165230828.1708605700',
 '1165617924.1708502528',
 '1172427172.1707472749',
 '1174934130.1708553773',
 '11825329.1708574756',
 '1183123087.1707489182',
 '1187875126.1707320657',
 '1190893213.1707690642',
 '1191384637.1708455441',
 '1193725357.1707308413',
 '1194862338.1708520103',
 '119837405.1708524193',
 '1203137135.1707321197',
 '1206429575.1707252346',
 '12083193.1708552609',
 '1216616034.1708496999',
 '1217999878.1708410387',
 '12188865.1708510405',
 '1219895148.1707365144',
 '1221851758.1705904657',
 '122314369.1708563264',
 '1227507438.1707357940',
 '1229188524.1708471004',
 '1229254827.1708516870',
 '1231914803.1708554732',
 '1235441831.1708492397',
 '1237061242.1707299985',
 '1241085228.1707404491',
 '1247697429.1707508578',
 '1250060929.1708518702',
 '1251168810.1708517729',
 '125448346.1708533716',
 '1254515183.1708554798',
 '1259026273.1708601152',
 '1259666855.1708516877',
 '1264584182.1708445162',
 '1265451908.1707404379',
 '1268512070.1708518703',
 '1271148027.1708430976',
 '1272473617.1707368250',
 '1280798485.1708516420',
 '1289020607.1708436547',
 '1294101716.1708426814',
 '1295660711.1680959826',
 '1300298523.1707176282',
 '1308400695.1708414441',
 '1313631898.1708410516',
 '1314187130.1708467820',
 '1316604975.1707707267',
 '1336554621.1708613917',
 '134296948.1697270363',
 '1344207630.1707150469',
 '1350156927.1708599582',
 '1355672393.1707509879',
 '1356371585.1708545512',
 '1357283328.1708474677',
 '1357791445.1707182546',
 '13581810.1708513589',
 '1359047976.1706007666',
 '1365489607.1707576466',
 '1365517170.1707743283',
 '1373230660.1707203159',
 '1376441324.1708603961',
 '1385971361.1699436907',
 '1388254023.1708524271',
 '1388304988.1699539155',
 '1390453122.1705744023',
 '1398306191.1707635892',
 '1402082905.1708438625',
 '1407049890.1708452565',
 '1416677785.1707257176',
 '1424885247.1707731928',
 '1426004376.1708512462',
 '143378912.1707319344',
 '1436135083.1707435426',
 '1437629888.1708581329',
 '143790533.1707119252',
 '1440340200.1707303164',
 '1440651112.1708529784',
 '144151218.1707394527',
 '1446701132.1707620424',
 '1452844916.1708583831',
 '1456180166.1708410516',
 '1467254360.1707295842',
 '1478366472.1708419337',
 '1481500395.1707733670',
 '1482238442.1708513969',
 '1482331306.1708516879',
 '1487895370.1707740303',
 '1488594191.1708598308',
 '1489124882.1707762478',
 '1492345103.1707447279',
 '1497343945.1707478754',
 '1498395681.1707303481',
 '1503891379.1707116602',
 '1522638035.1707663551',
 '1523945660.1707701519',
 '1535954203.1707691616',
 '1535954203.1707691616',
 '1542376881.1708522110',
 '1544206563.1705759207',
 '155409379.1707558325',
 '1568924439.1707136234',
 '1571277709.1707398752',
 '1578124099.1707116586',
 '1580844269.1707204416',
 '158116887.1707273708',
 '1581305896.1697702438',
 '1586685205.1708551070',
 '1589183442.1707204584',
 '1589393152.1707267080',
 '1593213760.1708499731',
 '1594173189.1691701828',
 '159629146.1698137117',
 '1603448087.1708526480',
 '160497933.1707149923',
 '1607890450.1707266515',
 '1613803456.1707646699',
 '1622167992.1677188342',
 '1623771298.1697276994',
 '1623771298.1697276994',
 '1626169705.1708528554',
 '1630766490.1708553174',
 '1631057447.1708520442',
 '1635494919.1707115518',
 '1635854087.1707376553',
 '1637156183.1708427288',
 '1640372568.1707217558',
 '1640866043.1707370936',
 '1647645410.1707214217',
 '1652667091.1707350361',
 '1655517190.1680422761',
 '1655517190.1680422761',
 '1655517190.1680422761',
 '166026875.1708434692',
 '1667421512.1686842635',
 '1667980420.1707400846',
 '1671937887.1707153872',
 '1675020507.1707749544',
 '167685879.1707738393',
 '16788797.1707135374',
 '16788797.1707135374',
 '16788797.1707135374',
 '1679687191.1707307647',
 '1680033611.1699730316',
 '1692223236.1708573777',
 '1692374731.1697635753',
 '1693346401.1707456056',
 '1693346401.1707456056',
 '1697112146.1708469540',
 '1698886254.1707209099',
 '1703306398.1707490727',
 '1708513571.1707316749',
 '1709016127.1708433168',
 '1712688202.1708597667',
 '1720075317.1699806924',
 '1720771923.1708513109',
 '1723898358.1707229655',
 '1724614395.1684328477',
 '1726524234.1708564113',
 '1731771699.1707663810',
 '1732426571.1707203146',
 '1732863376.1707577253',
 '1744090859.1708432612',
 '1751424591.1707274743',
 '1763044354.1697708901',
 '1765103599.1708411450',
 '1770246797.1708554098',
 '1770497657.1707542264',
 '1773731854.1708529428',
 '1775032400.1707186616',
 '1775032400.1707186616',
 '1779072249.1707363387',
 '1787306283.1708410421',
 '1789152433.1708521621',
 '1789315404.1708487205',
 '1793989974.1708558616',
 '179423077.1691749789',
 '1798767568.1708524421',
 '1805276711.1697155872',
 '1806593404.1707320963',
 '1807339524.1708600490',
 '1812567497.1708571284',
 '1813142944.1707349857',
 '1814858558.1708598540',
 '1815078474.1707214661',
 '1817184816.1708482013',
 '1817481682.1707347809',
 '1821986217.1699668652',
 '182427808.1707288089',
 '182450735.1708517514',
 '1827421760.1707543435',
 '1829606175.1708562791',
 '1830214025.1708500769',
 '1831804896.1707662498',
 '183210042.1707156396',
 '1833501603.1707658688',
 '1834918814.1707446689',
 '1835014387.1708524341',
 '1841785848.1689210571',
 '1842835939.1708554664',
 '1849976417.1708568281',
 '1851136558.1707353383',
 '18539996.1708414377',
 '1854172585.1707732576',
 '1854420931.1707193380',
 '1857825099.1707476800',
 '1858338173.1708467750',
 '1858812336.1707497077',
 '1860708170.1708406497',
 '1863084916.1708506116',
 '1863235697.1686605840',
 '1866903870.1707217787',
 '1871074511.1707484318',
 '1872672067.1707627614',
 '1872672067.1707627614',
 '1873097101.1708430566',
 '1880052383.1707556484',
 '1883128280.1708515332',
 '1885783274.1707760661',
 '1893686500.1700663010',
 '1896161096.1707461937',
 '189774521.1708531871',
 '1902525675.1708590055',
 '1902965842.1708426476',
 '1905348697.1707178227',
 '1906996794.1708575094',
 '1910003622.1700446408',
 '1910499127.1708582503',
 '1911889501.1707566566',
 '1918686619.1708443643',
 '1920351358.1680520185',
 '192223126.1707183591',
 '1922298426.1708584787',
 '1928639304.1708440002',
 '1931440388.1708554303',
 '1934874710.1708425631',
 '1938013826.1707265407',
 '1940887584.1708587721',
 '1941061932.1707257001',
 '1947383939.1707383178',
 '1947462024.1708435106',
 '1949319188.1708595824',
 '1950756519.1708502051',
 '1953006731.1708549195',
 '1961553971.1708523588',
 '1981850465.1707396907',
 '1982791798.1708609464',
 '1983208327.1707661521',
 '198341206.1708415125',
 '1988032181.1707317441',
 '1989775155.1707119543',
 '1994813586.1708588264',
 '1997355741.1707731170',
 '1997400762.1707229708',
 '1998603162.1707232010',
 '200377019.1708430203',
 '2008098157.1707367733',
 '2023695494.1708414415',
 '203398794.1707223604',
 '203398794.1707223604',
 '2035822142.1707639435',
 '2043223932.1708548739',
 '2043359790.1708474432',
 '2049238560.1707194824',
 '204971153.1707305023',
 '2055233617.1708521215',
 '2060530237.1707274628',
 '2065060519.1708433414',
 '2066829798.1707316338',
 '207123197.1699977861',
 '2083040334.1707730402',
 '2096454032.1707751872',
 '2096454032.1707751872',
 '2098742642.1708564789',
 '210216635.1707659789',
 '2105808375.1707278960',
 '2115218983.1694429395',
 '2121477240.1707220625',
 '2127808342.1708426702',
 '2133813067.1708410396',
 '2139206563.1708427320',
 '2140619556.1708436268',
 '2142197402.1707608666',
 '217260321.1707798277',
 '217683025.1708561124',
 '21910700.1708518022',
 '223244394.1707216248',
 '227733441.1708439222',
 '240429939.1708447652',
 '248693285.1707121074',
 '248739007.1696409761',
 '254013581.1707665201',
 '257345495.1707136231',
 '258407336.1699321293',
 '258461934.1707739434',
 '25892624.1700061621',
 '272715859.1708528638',
 '275831008.1707801391',
 '278596496.1707712805',
 '278849710.1708610767',
 '279229670.1708442274',
 '281694872.1707123535',
 '285755401.1707361928',
 '293636418.1708583446',
 '297766956.1707206878',
 '300542293.1708515695',
 '302235897.1707427918',
 '305572494.1707757599',
 '305687996.1708522991',
 '314532703.1707545890',
 '317575431.1708510005',
 '318996890.1708415779',
 '32050515.1708554038',
 '328032771.1699453241',
 '332586681.1708513243',
 '339032499.1707560453',
 '341523482.1707744363',
 '344653058.1707554695',
 '348419601.1707299470',
 '349213729.1708480971',
 '34960220.1707371781',
 '352418456.1708549842',
 '365465086.1708514525',
 '365755245.1708517422',
 '368318309.1707280626',
 '369501721.1707390478',
 '370352889.1707119265',
 '374298089.1707798221',
 '378901710.1708509951',
 '379190541.1707134393',
 '379770033.1705990167',
 '382084075.1697721389',
 '39651598.1708518365',
 '398285500.1684163810',
 '405267427.1707298835',
 '406243226.1708562718',
 '407143241.1708572332',
 '413550090.1707651763',
 '415234015.1707207980',
 '416174284.1708535418',
 '416447175.1707471531',
 '416447175.1707471531',
 '428895346.1707656757',
 '429147107.1705552753',
 '429147107.1705552753',
 '430978803.1707801029',
 '443412077.1707212750',
 '446665391.1707544961',
 '449962475.1693963439',
 '451392531.1691222579',
 '453016391.1707647467',
 '453174029.1708607820',
 '453651584.1707714447',
 '45810288.1708570332',
 '46589977.1708524327',
 '466643868.1707144756',
 '468289101.1707664423',
 '473897290.1708429769',
 '474962420.1707166357',
 '474962420.1707166357',
 '480344661.1707663187',
 '482512644.1708442374',
 '485805979.1708510170',
 '486560907.1707288510',
 '486905925.1677286443',
 '488816033.1707194158',
 '503285942.1707489275',
 '50486868.1707425503',
 '506012900.1707693998',
 '509248834.1705389398',
 '510822521.1707731059',
 '516536769.1707210429',
 '523883618.1707457455',
 '525956369.1708585159',
 '526474013.1708473593',
 '528029753.1708607467',
 '528207966.1708551951',
 '528305933.1708436428',
 '531519608.1707543220',
 '539987794.1707485906',
 '542200332.1697783424',
 '542348233.1708593759',
 '544814238.1707292228',
 '545178704.1707634570',
 '545465084.1707237522',
 '547194893.1694639017',
 '549187672.1707440300',
 '549477173.1707801122',
 '551854007.1707745873',
 '552113872.1691654759',
 '552275509.1707209565',
 '552964404.1707222462',
 '558866739.1708508139',
 '559677366.1707658760',
 '561431585.1707661831',
 '562257749.1707403797',
 '562257749.1707403797',
 '567084135.1708462715',
 '569227388.1691815426',
 '574981907.1708434704',
 '576265907.1708487998',
 '578948714.1707485814',
 '57933969.1708523364',
 '581936681.1707315905',
 '582639078.1707138328',
 '58267817.1684258951',
 '586127545.1684158935',
 '586700393.1708426656',
 '588187573.1708410516',
 '593564896.1707734210',
 '595839362.1697591955',
 '595839362.1697591955',
 '596398655.1707115531',
 '596750608.1699689858',
 '59894784.1708578431',
 '600338664.1694359278',
 '603371463.1708529227',
 '604280552.1707336357',
 '60614102.1708539541',
 '606583694.1692770911',
 '610832106.1680478213',
 '610832106.1680478213',
 '614979335.1708578489',
 '616467102.1707788177',
 '623481973.1708438175',
 '623656464.1707256522',
 '625560469.1707577689',
 '625852154.1686605655',
 '627294999.1708414973',
 '628179687.1708575990',
 '629010094.1708582650',
 '631410036.1684411211',
 '636501291.1708527977',
 '636901338.1708447078',
 '637260006.1708519511',
 '637321401.1707727211',
 '64078620.1707119235',
 '648279618.1700119536',
 '649279145.1708515996',
 '65722430.1694421358',
 '659310300.1708406497',
 '662605878.1708609098',
 '663416058.1708612747',
 '664015689.1708556874',
 '674674819.1708446992',
 '676196733.1708406497',
 '677290654.1707230311',
 '678129290.1707263236',
 '678520647.1708410421',
 '683044720.1707528933',
 '683435534.1708435793',
 '684567911.1707649818',
 '684567911.1707649818',
 '687417384.1697323107',
 '695146726.1707270050',
 '69625885.1708608436',
 '696845975.1707724094',
 '7073914.1707229024',
 '708731302.1708467193',
 '711307035.1707116611',
 '711701352.1700034602',
 '711701352.1700034602',
 '71178212.1707554803',
 '721208878.1708606143',
 '733037286.1708512130',
 '735341763.1707799574',
 '742045108.1708582189',
 '743158896.1707478048',
 '7449992.1707311637',
 '74894454.1707310540',
 '751601679.1708514582',
 '755664079.1708435782',
 '766848927.1707240918',
 '772019491.1708413720',
 '773730975.1708543735',
 '774143029.1708506283',
 '777189363.1708417792',
 '779750963.1708494638',
 '785233995.1707474127',
 '786764119.1708519111',
 '803072793.1708607206',
 '806905400.1708529222',
 '812493229.1708499940',
 '81782825.1707462752',
 '818598154.1708521929',
 '821844343.1707227387',
 '822753869.1708603159',
 '823352722.1707664171',
 '826125665.1707800276',
 '826638183.1707701479',
 '828077086.1708589341',
 '831449245.1707739808',
 '831977898.1695876731',
 '833078501.1707197995',
 '834296898.1708547546',
 '838654152.1708410389',
 '840528132.1707361967',
 '841532290.1708574580',
 '842316293.1708437705',
 '848461236.1708428944',
 '855012189.1708410416',
 '856647927.1708515903',
 '857418582.1708420775',
 '863058149.1707115526',
 '864564312.1699098946',
 '865043932.1707560356',
 '865825950.1707509159',
 '868381053.1707434563',
 '869978924.1707461547',
 '873749861.1708444684',
 '874423944.1707125198',
 '874582595.1708572407',
 '878360086.1707666842',
 '878684750.1707372781',
 '884919991.1707304344',
 '886172009.1707544251',
 '902555684.1707575840',
 '905306570.1707209004',
 '907429764.1708561759',
 '911877078.1708409654',
 '912985400.1707667945',
 '912985400.1707667945',
 '914144635.1708533737',
 '917843752.1707464177',
 '920821812.1707185251',
 '921118772.1708415323',
 '923998752.1694690438',
 '924480543.1707317265',
 '926414496.1708416773',
 '926486779.1707633268',
 '927650277.1707639953',
 '930306971.1707287727',
 '9371702.1699622229',
 '951720395.1707582365',
 '951970728.1707742891',
 '953060080.1708557151',
 '953633425.1699155679',
 '955572350.1708479279',
 '959095745.1707124658',
 '962641345.1708561695',
 '964415175.1707719738',
 '968163953.1707404215',
 '968907225.1708592010',
 '976222914.1708508886',
 '980348927.1708524429',
 '980348927.1708524429',
 '983585469.1708473574',
 '98707010.1708418683',
 '9896390.1697376336',
 '996876226.1694443309']

In [386]:
## 특정한 id의 행동 추출

### 특정한 id의 중복 제거
unique_ids = list(set(igreels_ids_sorted)) #릴스 보고 들어온 id
### 중복 제거한 특정한 id의 행동을 원본 ga 데이터(df_ga)에서 추출
behavior_of_specific_id = df_ga[df_ga['아이디'].isin(unique_ids)]

today = datetime.now().date()
file_name = f"008_igreels_{yesterday}.xlsx"
full_file_path = os.path.join(request_path, file_name)
behavior_of_specific_id.to_excel(full_file_path, index=False)

### conversion_depth -> "02_conversion_depth_{yesterday}.xlsx"

file_name = f"02_conversion_depth_{yesterday}.xlsx"
full_file_path = os.path.join(upper_path, file_name)
conversion_depth.to_excel(full_file_path, index=False)

# Specify multiple values to check
specific_values = ['https://mysecondplace.co.kr/login', 'another_value', 'yet_another_value']

# Count occurrences of specific values in the 'content' column
count_specific_values = df_ga_result['content'].isin(specific_values).sum()

# Node - Edge

G = nx.Graph()

# 노드 추가 및 속성 설정
for index, row in df.iterrows():
    node_id = row['node']
    node_label = row[0]
    node_attributes = {key: row[key] for key in df.columns[10:]}  # 노드의 투명도와 다른 속성들을 딕셔너리로 저장
    G.add_node(node_id, label=node_label, **node_attributes)

# 노드 및 간선 정보
nodes = list(unique_nodes)
edges = []

for _, row in referers_df.iterrows():
    source_node = row['modified_url_before']
    target_node = row[df.columns[1]]  # 두 번째 열의 값을 노드로 사용
    weight = row['view']

    # 중복된 노드 방지를 위해 노드 추가 여부 확인
    if source_node not in unique_nodes:
        unique_nodes.add(source_node)

    if target_node not in unique_nodes:
        unique_nodes.add(target_node)

    # 간선 추가
    edges.append((source_node, target_node, {"weight": weight}))

    # modified_url_referer_1 열 추가
    if not pd.isnull(row['modified_url_referer_1']):
        source_node = row['modified_url_referer_1']
        unique_nodes.add(source_node)
        edges.append((source_node, target_node, {"weight": weight}))

        # modified_url_referer_2 열 추가
        if not pd.isnull(row['modified_url_referer_2']):
            source_node = row['modified_url_referer_2']
            unique_nodes.add(source_node)
            edges.append((source_node, target_node, {"weight": weight}))

            # modified_url_referer_3 열 추가
            if not pd.isnull(row['modified_url_referer_3']):
                source_node = row['modified_url_referer_3']
                unique_nodes.add(source_node)
                edges.append((source_node, target_node, {"weight": weight}))

# Assuming 'node' is a column in your DataFrame and '0' is the first column
node_to_label_mapping = dict(zip(df['node'], df.iloc[:, 0]))

# Now, you can use this mapping in NetworkX
G = nx.Graph()
G.add_nodes_from(df['node'])
nx.set_node_attributes(G, node_to_label_mapping, 'label')

# Find and remove edges with weight 0
zero_weight_edges = [(u, v) for u, v, d in G.edges(data=True) if d['weight'] == 0]
G.remove_edges_from(zero_weight_edges)     
# Find isolated nodes
isolated_nodes = list(nx.isolates(G))
# Remove isolated nodes from the graph
G.remove_nodes_from(isolated_nodes)
# Remove self-loops
G.remove_edges_from(nx.selfloop_edges(G))



plt.figure(figsize=(23.4, 33.1))  # A2 paper size (in inches)

# NODE SETTING

# Calculate node sizes based on total views
view_df['total_views'] = pd.to_numeric(df['total_views'], errors='coerce')
view_df = view_df.dropna(subset=['total_views'])
default_node_size = 100  # Default node size (used when there are no views)
max_views = view_df['total_views'].max()  # Calculate the maximum views
node_sizes = {url: 5000 * (views / max_views) if url in view_df['contents_url'].values else default_node_size for url, views in view_df[['contents_url', 'total_views']].values}

pos = nx.fruchterman_reingold_layout(G, k=3, iterations = 600)
# pos = nx.kamada_kawai_layout(G)
# pos = nx.shell_layout(G)

# Draw nodes with labels
node_labels = {node: label for node, label in nx.get_node_attributes(G, 'label').items()}
nx.draw_networkx_labels(G, pos, labels=node_labels, font_size=10)
node_sizes_to_draw = [node_sizes.get(node, default_node_size) for node in G.nodes()]
nx.draw_networkx_nodes(G, pos, node_size=node_sizes_to_draw, node_color="lightblue")

# EDGE SETTING

if G.edges():
    min_weight = min([G[u][v]['weight'] for u, v in G.edges()])
    max_weight = max([G[u][v]['weight'] for u, v in G.edges()])
    scaling_factor_width = 10

    # Create a list of edge widths based on weights
    edge_widths = [scaling_factor_width * (G[u][v]['weight'] - min_weight) / (max_weight - min_weight) for u, v in G.edges()]

    # Draw edges with specified widths and arrows
    edges = nx.draw_networkx_edges(G, pos, arrowstyle="->", arrowsize=10, width=edge_widths, edge_color='g', arrows=True, connectionstyle='arc3,rad=0.1')

    # Set edge transparency based on edge weights
    scaling_factor_alpha = 10
    for i, (u, v, d) in enumerate(G.edges(data=True)):
        weight_normalized = (d['weight'] - min_weight) / (max_weight - min_weight)
        weight_alpha = scaling_factor_alpha * weight_normalized
        edges[i].set_alpha(min(1, weight_alpha))  # Limit maximum alpha to 1



# Display the graph
# Save the graph as an image file (e.g., PNG)
plt.savefig('..//PageRelation.png', format='png', dpi = 600)

plt.axis('off')
plt.show()