In [45]:
import pandas as pd
import json
import os

# Excel 파일 경로
excel_file = r'C:\Users\ch.kang\Desktop\5월투어\ga_20240519_newID.xlsx'

# 데이터프레임 로드
df = pd.read_excel(excel_file, dtype=str)

In [46]:
df.columns

Index(['Unnamed: 0', '아이디', '익명아이디', '시간', '이벤트명', '페이지제목', '정규화링크', '원래링크',
       '소스', '매체', '캠페인', '컨텐츠', '검색어', 'engagement_time', '체류시간', '전환여부',
       '고유아이디'],
      dtype='object')

In [47]:
# 'conversion' 열 생성
df['conversion'] = ''
df['원래링크'] = df['원래링크'].fillna('')
df.columns

Index(['Unnamed: 0', '아이디', '익명아이디', '시간', '이벤트명', '페이지제목', '정규화링크', '원래링크',
       '소스', '매체', '캠페인', '컨텐츠', '검색어', 'engagement_time', '체류시간', '전환여부',
       '고유아이디', 'conversion'],
      dtype='object')

In [48]:
# '원래링크' 열에서 특정 문자열이 포함된 경우, 'conversion' 열에 해당 값 추가
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=mainbanner').fillna(False) |
       df['원래링크'].str.contains('/05_tour_notice?btn=mainbanner_mobile').fillna(False), 'conversion'] = '01_mainbanner'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=prodcut').fillna(False), 'conversion'] = '02_product'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=product_low').fillna(False), 'conversion'] = '03_product_low'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=market').fillna(False), 'conversion'] = '04_market'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=blog').fillna(False), 'conversion'] = '05_blog'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False), 'conversion'] = '06_main_A'
df.loc[df['원래링크'].str.contains('/05_tour_application').fillna(False), 'conversion'] = '06_main_B'

df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'

df.loc[df['원래링크'].str.contains('/05_tour_application').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_application'

df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '08_targetAD_q1_A'



df.loc[df['원래링크'].str.contains('/05_tour_notice_q1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '08_targetAD_q1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '09_targetAD_q1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_q2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q2'), 'conversion'] = '10_targetAD_q2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q2'), 'conversion'] = '11_targetAD_q2_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l1'), 'conversion'] = '12_targetAD_l1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l1'), 'conversion'] = '13_targetAD_l1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l2'), 'conversion'] = '14_targetAD_l2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l2'), 'conversion'] = '15_targetAD_l2_B'

df.loc[df['원래링크'].str.contains('/05_tour_notice_q1').fillna(False), 'conversion'] = '16_q1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q1').fillna(False), 'conversion'] = '17_q1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_q2').fillna(False), 'conversion'] = '18_q2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q2').fillna(False), 'conversion'] = '19_q2_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l1').fillna(False), 'conversion'] = '20_l1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l1').fillna(False), 'conversion'] = '21_l1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l2').fillna(False), 'conversion'] = '22_l2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l2').fillna(False), 'conversion'] = '23_l2_B'

In [49]:
df_pageview = df[df['이벤트명'] == 'page_view']
df_pageview.head(5)

,Unnamed: 0,아이디,익명아이디,시간,이벤트명,페이지제목,정규화링크,원래링크,소스,매체,캠페인,컨텐츠,검색어,engagement_time,체류시간,전환여부,고유아이디,conversion
1,1,1000347727.1716080690,86e1da4f-5b11-46b4-97d7-675a6c910cf5,2024. 5. 19. 오전 10:04:50,page_view,마세플 현장방문하기,https://mysecondplace.co.kr/05_tour_applicatio...,https://mysecondplace.co.kr/05_tour_applicatio...,instagram,cpc,05_tour,qli_original,120209434580470057,NaN,9,NaN,g-038453,17_q1_B
4,4,1000490840.1716118681,88167d40-7425-4747-a545-19e01d4a2981,2024. 5. 19. 오후 8:38:01,page_view,마세플 현장방문하기,https://mysecondplace.co.kr/05_tour_applicatio...,https://mysecondplace.co.kr/05_tour_applicatio...,instagram,cpc,05_tour,qli_original,120209434580470057,NaN,4,NaN,g-038454,17_q1_B
6,6,1000490840.1716118681,88167d40-7425-4747-a545-19e01d4a2981,2024. 5. 19. 오후 8:38:19,page_view,세컨하우스 매물 정보,https://mysecondplace.co.kr/secondhouse_market,https://mysecondplace.co.kr/secondhouse_market,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,g-038454,
9,9,1000490840.1716118681,88167d40-7425-4747-a545-19e01d4a2981,2024. 5. 19. 오후 8:38:37,page_view,공유세컨하우스 너른집,https://mysecondplace.co.kr/gongju_msp1,https://mysecondplace.co.kr/gongju_msp1,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,g-038454,
12,12,1000490840.1716118681,88167d40-7425-4747-a545-19e01d4a2981,2024. 5. 19. 오후 8:38:52,page_view,세컨하우스 매물 정보,https://mysecondplace.co.kr/secondhouse_market,https://mysecondplace.co.kr/secondhouse_market,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,g-038454,

In [50]:
# conversion에 따라 고유 아이디를 표로 정리합니다.
conversion_ids = df_pageview.groupby('conversion')['고유아이디'].apply(list).reset_index()
only_conversion_ids = conversion_ids.drop(0)
expanded_ids = only_conversion_ids.explode('고유아이디')

In [51]:
expanded_ids
# conversion을 기준으로 그룹화하여 '고유아이디'를 리스트로 묶기
grouped_ids = expanded_ids.groupby('conversion')['고유아이디'].apply(list).reset_index()
grouped_ids['고유아이디'] = grouped_ids['고유아이디'].astype(str)
grouped_ids['고유아이디'] = grouped_ids['고유아이디'].str.replace('[', '').str.replace(']', '')

In [52]:
df_expanded = grouped_ids['고유아이디'].str.split(',', expand=True)
df_result = pd.concat([grouped_ids, df_expanded], axis=1)
df_result = df_result.drop(columns=['고유아이디'])

In [53]:
conversion_df=df_result.T
# 1번째 행을 새로운 열 헤더로 설정
new_header = conversion_df.iloc[0]
conversion_df = conversion_df[1:]
conversion_df = conversion_df.set_axis(new_header, axis=1)
conversion_df.loc['Count'] = conversion_df.count()
conversion_df = conversion_df.reindex(index=['Count'] + conversion_df.index[:-1].tolist())

In [54]:
conversion_df

conversion,06_main_A,06_main_B,16_q1_A,17_q1_B,18_q2_A,19_q2_B,20_l1_A,21_l1_B,22_l2_A,23_l2_B
Count,138,5,136,361,6,41,500,29,2,9
0,'g-038454','g-032026','g-038459','g-038453','g-038671','g-038455','g-034794','g-038522','g-038967','g-019480'
1,'g-019480','g-032026','g-038460','g-038454','g-038747','g-038572','g-038458','g-038534','g-035580','g-019480'
2,'g-004214','g-038669','g-038467','g-038454','g-038917','g-038572','g-038464','g-038603',None,'g-019480'
3,'g-032026','g-038983','g-020123','g-038454','g-038035','g-026332','g-038468','g-024034',None,'g-038492'
...,...,...,...,...,...,...,...,...,...,...
495,None,None,None,None,None,None,'g-039548',None,None,None
496,None,None,None,None,None,None,'g-039550',None,None,None
497,None,None,None,None,None,None,'g-039551',None,None,None
498,None,None,None,None,None,None,'g-039555',None,None,None
499,None,None,None,None,None,None,'g-039555',None,None,None

In [55]:
output_path = os.path.join(os.path.dirname(excel_file), 'conversion_' + os.path.basename(excel_file))

with pd.ExcelWriter(output_path) as writer:
    # df를 첫 번째 시트로 저장
    df.to_excel(writer, sheet_name='rawdata', index=False)
    
    # conversion_ids를 두 번째 시트로 저장
    conversion_df.to_excel(writer, sheet_name='conversion_ids', index=False)