In [45]:
import pandas as pd
import json
import os

# Excel 파일 경로
excel_file = r'C:\Users\ch.kang\Desktop\5월투어\ga_20240524_newID.xlsx'

# 데이터프레임 로드
df = pd.read_excel(excel_file, dtype=str)

In [46]:
df.columns

Index(['Unnamed: 0', '아이디', '익명아이디', '시간', '이벤트명', '페이지제목', '정규화링크', '원래링크',
       '소스', '매체', '캠페인', '컨텐츠', '검색어', 'engagement_time', '체류시간', '전환여부',
       '고유아이디'],
      dtype='object')

In [47]:
# 'conversion' 열 생성
df['conversion'] = ''
df['원래링크'] = df['원래링크'].fillna('')
df.columns

Index(['Unnamed: 0', '아이디', '익명아이디', '시간', '이벤트명', '페이지제목', '정규화링크', '원래링크',
       '소스', '매체', '캠페인', '컨텐츠', '검색어', 'engagement_time', '체류시간', '전환여부',
       '고유아이디', 'conversion'],
      dtype='object')

In [48]:
# '원래링크' 열에서 특정 문자열이 포함된 경우, 'conversion' 열에 해당 값 추가
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=mainbanner').fillna(False) |
       df['원래링크'].str.contains('/05_tour_notice?btn=mainbanner_mobile').fillna(False), 'conversion'] = '01_mainbanner'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=prodcut').fillna(False), 'conversion'] = '02_product'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=product_low').fillna(False), 'conversion'] = '03_product_low'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=market').fillna(False), 'conversion'] = '04_market'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=blog').fillna(False), 'conversion'] = '05_blog'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False), 'conversion'] = '06_main_A'
df.loc[df['원래링크'].str.contains('/05_tour_application').fillna(False), 'conversion'] = '06_main_B'

df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'

df.loc[df['원래링크'].str.contains('/05_tour_application').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_application'

df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '08_targetAD_q1_A'



df.loc[df['원래링크'].str.contains('/05_tour_notice_q1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '08_targetAD_q1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '09_targetAD_q1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_q2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q2'), 'conversion'] = '10_targetAD_q2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q2'), 'conversion'] = '11_targetAD_q2_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l1'), 'conversion'] = '12_targetAD_l1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l1'), 'conversion'] = '13_targetAD_l1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l2'), 'conversion'] = '14_targetAD_l2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l2'), 'conversion'] = '15_targetAD_l2_B'

df.loc[df['원래링크'].str.contains('/05_tour_notice_q1').fillna(False), 'conversion'] = '16_q1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q1').fillna(False), 'conversion'] = '17_q1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_q2').fillna(False), 'conversion'] = '18_q2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q2').fillna(False), 'conversion'] = '19_q2_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l1').fillna(False), 'conversion'] = '20_l1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l1').fillna(False), 'conversion'] = '21_l1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l2').fillna(False), 'conversion'] = '22_l2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l2').fillna(False), 'conversion'] = '23_l2_B'

In [49]:
df_pageview = df[df['이벤트명'] == 'page_view']
df_pageview.head(5)

,Unnamed: 0,아이디,익명아이디,시간,이벤트명,페이지제목,정규화링크,원래링크,소스,매체,캠페인,컨텐츠,검색어,engagement_time,체류시간,전환여부,고유아이디,conversion
0,0,1006945213.1716189122,NaN,2024. 5. 24. 오후 12:33:28,page_view,5월 25일 (토) ~ 26(일) 현장 방문신청 - 마이세컨플레이스,https://whattime.co.kr/m/cancel/S8TTV8KYi5/?ow...,https://whattime.co.kr/m/cancel/S8TTV8KYi5?own...,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,g-039567,
4,4,1006945213.1716189122,NaN,2024. 5. 24. 오후 1:33:39,page_view,5월 25일 (토) ~ 26(일) 현장 방문신청 - 마이세컨플레이스,https://whattime.co.kr/m/reschedule/S8TTV8KYi5,https://whattime.co.kr/m/reschedule/S8TTV8KYi5...,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,g-039567,
6,6,1006945213.1716189122,NaN,2024. 5. 24. 오후 1:33:51,page_view,5월 25일 (토) ~ 26(일) 현장 방문신청 - 마이세컨플레이스,https://whattime.co.kr/m/reschedule/S8TTV8KYi5,https://whattime.co.kr/m/reschedule/S8TTV8KYi5...,NaN,NaN,NaN,NaN,NaN,3.685,2,NaN,g-039567,
7,7,1006945213.1716189122,NaN,2024. 5. 24. 오후 1:33:54,page_view,5월 25일 (토) ~ 26(일) 현장 방문신청 - 마이세컨플레이스,https://whattime.co.kr/m/reschedule/S8TTV8KYi5,https://whattime.co.kr/m/reschedule/S8TTV8KYi5...,NaN,NaN,NaN,NaN,NaN,2.541,1,NaN,g-039567,
10,10,1007416990.1716504628,0b2fa3f4-4aeb-4c15-aba4-f052d7b66890,2024. 5. 24. 오전 7:50:29,page_view,모두를 위한 세컨하우스 마이세컨플레이스,https://mysecondplace.co.kr,https://mysecondplace.co.kr/,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,g-043099,

In [50]:
# conversion에 따라 고유 아이디를 표로 정리합니다.
conversion_ids = df_pageview.groupby('conversion')['고유아이디'].apply(list).reset_index()
only_conversion_ids = conversion_ids.drop(0)
expanded_ids = only_conversion_ids.explode('고유아이디')

In [51]:
expanded_ids
# conversion을 기준으로 그룹화하여 '고유아이디'를 리스트로 묶기
grouped_ids = expanded_ids.groupby('conversion')['고유아이디'].apply(list).reset_index()
grouped_ids['고유아이디'] = grouped_ids['고유아이디'].astype(str)
grouped_ids['고유아이디'] = grouped_ids['고유아이디'].str.replace('[', '').str.replace(']', '')

In [52]:
df_expanded = grouped_ids['고유아이디'].str.split(',', expand=True)
df_result = pd.concat([grouped_ids, df_expanded], axis=1)
df_result = df_result.drop(columns=['고유아이디'])

In [53]:
conversion_df=df_result.T
# 1번째 행을 새로운 열 헤더로 설정
new_header = conversion_df.iloc[0]
conversion_df = conversion_df[1:]
conversion_df = conversion_df.set_axis(new_header, axis=1)
conversion_df.loc['Count'] = conversion_df.count()
conversion_df = conversion_df.reindex(index=['Count'] + conversion_df.index[:-1].tolist())

In [54]:
conversion_df

conversion,06_main_A,06_main_B,16_q1_A,17_q1_B,18_q2_A,19_q2_B,20_l1_A,21_l1_B,22_l2_A
Count,79,6,223,4,32,8,241,7,1
0,'g-043099','g-043131','g-043100','g-043109','g-025351','g-043226','g-024586','g-043178','g-043328'
1,'g-043099','g-043131','g-024585','g-043163',nan,'g-043307','g-043101','g-043231',None
2,'g-043099','g-042326','g-043106','g-038922','g-043155','g-043307','g-043102','g-043231',None
3,'g-043100','g-042326','g-043107','g-043638','g-043189','g-043307','g-043102','g-040963',None
...,...,...,...,...,...,...,...,...,...
236,None,None,None,None,None,None,'g-043650',None,None
237,None,None,None,None,None,None,'g-043651',None,None
238,None,None,None,None,None,None,'g-023854',None,None
239,None,None,None,None,None,None,'g-043654',None,None
240,None,None,None,None,None,None,nan,None,None

In [55]:
output_path = os.path.join(os.path.dirname(excel_file), 'conversion_' + os.path.basename(excel_file))

with pd.ExcelWriter(output_path) as writer:
    # df를 첫 번째 시트로 저장
    df.to_excel(writer, sheet_name='rawdata', index=False)
    
    # conversion_ids를 두 번째 시트로 저장
    conversion_df.to_excel(writer, sheet_name='conversion_ids', index=False)