In [210]:
import pandas as pd
import json
import os

# Excel 파일 경로
excel_file = r'C:\Users\ch.kang\Desktop\5월투어\ga_20240515_newID.xlsx'

# 데이터프레임 로드
df = pd.read_excel(excel_file, dtype=str)

In [211]:
df.columns

Index(['Unnamed: 0', '아이디', '익명아이디', '시간', '이벤트명', '페이지제목', '정규화링크', '원래링크',
       '소스', '매체', '캠페인', '컨텐츠', '검색어', 'engagement_time', '체류시간', '전환여부',
       '고유아이디'],
      dtype='object')

In [212]:
# 'conversion' 열 생성
df['conversion'] = ''
df['원래링크'] = df['원래링크'].fillna('')
df.columns

Index(['Unnamed: 0', '아이디', '익명아이디', '시간', '이벤트명', '페이지제목', '정규화링크', '원래링크',
       '소스', '매체', '캠페인', '컨텐츠', '검색어', 'engagement_time', '체류시간', '전환여부',
       '고유아이디', 'conversion'],
      dtype='object')

In [213]:
# '원래링크' 열에서 특정 문자열이 포함된 경우, 'conversion' 열에 해당 값 추가
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=mainbanner').fillna(False) |
       df['원래링크'].str.contains('/05_tour_notice?btn=mainbanner_mobile').fillna(False), 'conversion'] = '01_mainbanner'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=prodcut').fillna(False), 'conversion'] = '02_product'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=product_low').fillna(False), 'conversion'] = '03_product_low'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=market').fillna(False), 'conversion'] = '04_market'
df.loc[df['원래링크'].str.contains('/05_tour_notice?btn=blog').fillna(False), 'conversion'] = '05_blog'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False), 'conversion'] = '06_main_A'
df.loc[df['원래링크'].str.contains('/05_tour_application').fillna(False), 'conversion'] = '06_main_B'

df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'
df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_notice'

df.loc[df['원래링크'].str.contains('/05_tour_application').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad'), 'conversion'] = '07_targetAD_application'

df.loc[df['원래링크'].str.contains('/05_tour_notice').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '08_targetAD_q1_A'



df.loc[df['원래링크'].str.contains('/05_tour_notice_q1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '08_targetAD_q1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q1'), 'conversion'] = '09_targetAD_q1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_q2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q2'), 'conversion'] = '10_targetAD_q2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_q2'), 'conversion'] = '11_targetAD_q2_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l1'), 'conversion'] = '12_targetAD_l1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l1').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l1'), 'conversion'] = '13_targetAD_l1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l2'), 'conversion'] = '14_targetAD_l2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l2').fillna(False) & df['원래링크'].str.contains('utm_content=target_ad_l2'), 'conversion'] = '15_targetAD_l2_B'

df.loc[df['원래링크'].str.contains('/05_tour_notice_q1').fillna(False), 'conversion'] = '16_q1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q1').fillna(False), 'conversion'] = '17_q1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_q2').fillna(False), 'conversion'] = '18_q2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_q2').fillna(False), 'conversion'] = '19_q2_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l1').fillna(False), 'conversion'] = '20_l1_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l1').fillna(False), 'conversion'] = '21_l1_B'
df.loc[df['원래링크'].str.contains('/05_tour_notice_l2').fillna(False), 'conversion'] = '22_l2_A'
df.loc[df['원래링크'].str.contains('/05_tour_application_l2').fillna(False), 'conversion'] = '23_l2_B'

In [214]:
df_pageview = df[df['이벤트명'] == 'page_view']
df_pageview.head(5)

,Unnamed: 0,아이디,익명아이디,시간,이벤트명,페이지제목,정규화링크,원래링크,소스,매체,캠페인,컨텐츠,검색어,engagement_time,체류시간,전환여부,고유아이디,conversion
1,1,1000866219.1715751241,7a23c4e5-e26b-4418-8bf9-502da7e70911,2024. 5. 15. 오후 2:34:01,page_view,세컨하우스 관리 zero 솔루션,https://mysecondplace.co.kr/post_a_03/?utm_id=...,https://mysecondplace.co.kr/post_a_03?utm_sour...,instagram,postagroup,포스트에이그룹,02_망가져서,120208619941940057,NaN,9374,NaN,g-034794,
2,2,1000866219.1715751241,7a23c4e5-e26b-4418-8bf9-502da7e70911,2024. 5. 15. 오후 5:10:16,page_view,마이세컨플레이스 노픈집,https://mysecondplace.co.kr/05_tour_notice_q1/...,https://mysecondplace.co.kr/05_tour_notice_q1?...,instagram,cpc,05_tour,qli_original,120209434580470057,NaN,57,NaN,g-034794,16_q1_A
5,5,1000866219.1715751241,7a23c4e5-e26b-4418-8bf9-502da7e70911,2024. 5. 15. 오후 5:11:29,page_view,마세플 현장방문하기,https://mysecondplace.co.kr/05_tour_applicatio...,https://mysecondplace.co.kr/05_tour_applicatio...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,g-034794,17_q1_B
8,8,1000866219.1715751241,7a23c4e5-e26b-4418-8bf9-502da7e70911,2024. 5. 15. 오후 5:11:36,page_view,세컨하우스 매물 정보,https://mysecondplace.co.kr/secondhouse_market,https://mysecondplace.co.kr/secondhouse_market,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,g-034794,
11,11,1000866219.1715751241,7a23c4e5-e26b-4418-8bf9-502da7e70911,2024. 5. 15. 오후 5:12:13,page_view,양평 용문면 세컨하우스,https://mysecondplace.co.kr/yc0002,https://mysecondplace.co.kr/yc0002,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,g-034794,

In [215]:
# conversion에 따라 고유 아이디를 표로 정리합니다.
conversion_ids = df_pageview.groupby('conversion')['고유아이디'].apply(list).reset_index()
only_conversion_ids = conversion_ids.drop(0)
expanded_ids = only_conversion_ids.explode('고유아이디')

In [216]:
expanded_ids
# conversion을 기준으로 그룹화하여 '고유아이디'를 리스트로 묶기
grouped_ids = expanded_ids.groupby('conversion')['고유아이디'].apply(list).reset_index()
grouped_ids['고유아이디'] = grouped_ids['고유아이디'].astype(str)
grouped_ids['고유아이디'] = grouped_ids['고유아이디'].str.replace('[', '').str.replace(']', '')

In [217]:
df_expanded = grouped_ids['고유아이디'].str.split(',', expand=True)
df_result = pd.concat([grouped_ids, df_expanded], axis=1)
df_result = df_result.drop(columns=['고유아이디'])

In [218]:
conversion_df=df_result.T
# 1번째 행을 새로운 열 헤더로 설정
new_header = conversion_df.iloc[0]
conversion_df = conversion_df[1:]
conversion_df = conversion_df.set_axis(new_header, axis=1)
conversion_df.loc['Count'] = conversion_df.count()
conversion_df = conversion_df.reindex(index=['Count'] + conversion_df.index[:-1].tolist())

In [219]:
conversion_df

conversion,06_main_A,06_main_B,07_targetAD_notice,16_q1_A,17_q1_B,18_q2_A,19_q2_B,20_l1_A,21_l1_B,22_l2_A,23_l2_B
Count,91,13,268,320,10,45,1,250,9,168,13
0,'g-034800','g-034890','g-034800','g-034794','g-034794','g-034797','g-035287','g-000873','g-016335',nan,'g-034826'
1,'g-034800','g-034925','g-034804','g-034795','g-034909','g-034797',None,'g-034817','g-034186',nan,'g-034861'
2,'g-023132','g-034976','g-034805','g-034799','g-035158','g-034832',None,'g-034819','g-035128','g-034814','g-021589'
3,'g-034843','g-018775','g-034807','g-034802','g-035162','g-034881',None,'g-034821','g-035128','g-004214','g-034974'
...,...,...,...,...,...,...,...,...,...,...,...
315,None,None,None,'g-035769',None,None,None,None,None,None,None
316,None,None,None,'g-035770',None,None,None,None,None,None,None
317,None,None,None,'g-012064',None,None,None,None,None,None,None
318,None,None,None,'g-012064',None,None,None,None,None,None,None
319,None,None,None,'g-035772',None,None,None,None,None,None,None

In [220]:
output_path = os.path.join(os.path.dirname(excel_file), 'conversion_' + os.path.basename(excel_file))

with pd.ExcelWriter(output_path) as writer:
    # df를 첫 번째 시트로 저장
    df.to_excel(writer, sheet_name='rawdata', index=False)
    
    # conversion_ids를 두 번째 시트로 저장
    conversion_df.to_excel(writer, sheet_name='conversion_ids', index=False)