In [183]:
import os
import pandas as pd
from urllib.parse import urlparse, parse_qs, urlencode, urlunparse

In [184]:


# í•„í„°ë§í•  ê¸°ê°„ì˜ ì‹œì‘ ë‚ ì§œì™€ ë ë‚ ì§œ ì •ì˜ (ì˜ˆ: 2024ë…„ 3ì›” 1ì¼ë¶€í„° 2024ë…„ 3ì›” 31ì¼ê¹Œì§€)
start_date = "20240325"
end_date = "20240331"

# í´ë” ë‚´ì˜ íŒŒì¼ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
file_list = os.listdir(r'C:\Users\ch.kang\Desktop\ìƒˆ í´ë”')

# 'ga'ë¡œ ì‹œì‘í•˜ê³  ì§€ì •ëœ ë‚ ì§œ ë²”ìœ„ ë‚´ì— ìˆëŠ” íŒŒì¼ í•„í„°ë§
ga_files = [file for file in file_list if file.startswith('ga') and start_date <= file.split('_')[1].split('.')[0] <= end_date]

# ë¹ˆ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•˜ì—¬ íŒŒì¼ì„ í•˜ë‚˜ì”© ì½ì–´ì„œ í•©ì¹˜ê¸°
raw_df_ga = pd.DataFrame()
for file in ga_files:
    file_path = os.path.join(r'C:\Users\ch.kang\Desktop\ìƒˆ í´ë”', file)  # íŒŒì¼ì˜ ì „ì²´ ê²½ë¡œ ìƒì„±
    temp_df = pd.read_excel(file_path, dtype={'ì•„ì´ë””': str}) # íŒŒì¼ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì½ê¸°
    raw_df_ga = pd.concat([raw_df_ga, temp_df], ignore_index=True)  # ì½ì€ ë°ì´í„°í”„ë ˆì„ì„ ê¸°ì¡´ ë°ì´í„°í”„ë ˆì„ì— í•©ì¹˜ê¸°

In [185]:
df_ga = raw_df_ga.copy()

In [186]:
def modify_url(url_0, all_keys):
    if url_0 is None or not isinstance(url_0, str):
        return url_0  # Skip if the URL is None or not a string

    # Remove '=' from the beginning
    if url_0.startswith('='):
        url_0 = url_0[1:]
    
    url_0 = url_0.replace('https://m.', 'https://')
    url_0 = url_0.replace('https://s.', 'https://')

    parsed_url = urlparse(url_0)
    scheme = parsed_url.scheme
    netloc = parsed_url.netloc
    path = parsed_url.path
    query = parsed_url.query
    fragment = parsed_url.fragment

    if path.endswith('/PostView.naver') or path.endswith('/PostList.naver') or path.endswith('/FeedList.naver'):
        path = ''

    query_dict = parse_qs(query)

    all_keys.update(query_dict.keys())

    params_to_keep_query = ['blogId', 'logNo', 'bmode', 'idx']  # Include 'bmode' and 'idx'

    # Collect items to remove
    items_to_remove = []
    for param, values in query_dict.items():
        if param not in params_to_keep_query:
            items_to_remove.append(param)

    # Remove items after iteration
    for param in items_to_remove:
        del query_dict[param]

    modified_query = urlencode(query_dict, doseq=True)
    modified_url = urlunparse((scheme, netloc, path, '', modified_query, ''))

    if modified_url.endswith('/'):
        modified_url = modified_url[:-1]

    return modified_url




def extract_korean(text):
    if text is None or not isinstance(text, str):
        return text  # ì…ë ¥ê°’ì´ None ë˜ëŠ” ë¬¸ìì—´ì´ ì•„ë‹Œ ê²½ìš° ê·¸ëŒ€ë¡œ ë°˜í™˜

    # '+'ë¥¼ ë„ì–´ì“°ê¸°ë¡œ ì¹˜í™˜í•œ í›„, ëª¨ë“  í•œê¸€ì„ ì¶”ì¶œí•˜ëŠ” ì •ê·œí‘œí˜„ì‹
    korean_pattern = re.compile('[ã„±-ã…ã…-ã…£ê°€-í£]+')
    text = text.replace('\\+', ' ')
    result = korean_pattern.findall(text)
    return ''.join(result) if result else text

# Custom function to parse the date and time
def custom_datetime_parser(date_str):
    # Regular expression pattern to match date and time elements
    pattern = r'(\d{4})\. (\d{1,2})\. (\d{1,2})\. (\S+) (\d{1,2}:\d{2}:\d{2})'

    # Extract date and time components
    match = re.match(pattern, date_str)
    if match:
        year, month, day, am_pm, time = match.groups()
        hour, minute, second = map(int, time.split(':'))
        if am_pm == 'ì˜¤í›„' and hour < 12:
            hour += 12
        elif am_pm == 'ì˜¤ì „' and hour == 12:
            hour = 0
        return pd.Timestamp(year=int(year), month=int(month), day=int(day), hour=hour, minute=minute, second=second)
    else:
        return pd.NaT
    
    
def shift_values(row):
    cols = ['1', '2', '3', '4', '5']
    # Filter out None or NaN values
    filtered_values = [row[col] for col in cols if pd.notna(row[col])]
    # Shift values to the left
    for i, col in enumerate(cols):
        row[col] = filtered_values[i] if i < len(filtered_values) else None
    return row

def convert_column_name(col_name):
    if isinstance(col_name, str) and col_name.isdigit():
        return int(col_name)
    else:
        return col_name
    


# Function to determine the prefix based on "node"
def get_prefix(node):
    if node.startswith("https://blog.naver.com/hanpro911"):
        return "BH"
    elif node.startswith("https://blog.naver.com/mysecondplace"):
        return "BM"
    elif node.startswith("https://blog.naver.com"):
        return "BZ"
    elif node.startswith("https://cafe.naver.com/mysecondhouse1"):
        return "CM"
    elif node.startswith("https://mysecondplace.co.kr") and ("bmode=write" in node or "prod_code" in node):
        return "HA"
    elif node.startswith("https://mysecondplace.co.kr"):
        return "HH"
    elif node.startswith("https://maily.so"):
        return "HB"
    elif node.startswith("https://whattime.co.kr"):
        return "HC"
    elif node.startswith("https://m2place.imweb.me"):
        return "HO"
    elif node.startswith("https://instagram.com/mysecondplace_"):
        return "|M"
    elif node.startswith("http://pf.kakao.com/_vxkxngb"):
        return "KC"
    elif node.startswith("http"):
        return "SE"
    else:
        return "SK"
    
def get_last_number(column, prefix):
    last_number = 0
    for value in column.dropna():  # Exclude NaN values
        if str(value).startswith(prefix):
            last_number = max(last_number, int(str(value).split('-')[-1]))
    return last_number

In [187]:
df_ga.columns

Index(['ì•„ì´ë””', 'ì‹œê°„', 'ì´ë²¤íŠ¸ëª…', 'í˜ì´ì§€ì œëª©', 'ì •ê·œí™”ë§í¬', 'ì›ë˜ë§í¬', 'ì†ŒìŠ¤', 'ë§¤ì²´', 'ìº í˜ì¸', 'ì»¨í…ì¸ ',
       'ê²€ìƒ‰ì–´', 'ì²´ë¥˜ì‹œê°„', 'ì „í™˜ì—¬ë¶€'],
      dtype='object')

In [188]:
# ì²´ë¥˜ì‹œê°„ 0ì¸ ê²½ìš° ì±„ìš°ê¸°
df_ga['ì²´ë¥˜ì‹œê°„'].fillna(0, inplace=True)

# node_standarization
all_keys = set()
df_ga['modified_node']=df_ga['ì •ê·œí™”ë§í¬'].apply(lambda x:modify_url(x, all_keys))

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_26564\959911582.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ga['ì²´ë¥˜ì‹œê°„'].fillna(0, inplace=True)

In [189]:

condition_a = df_ga['ì •ê·œí™”ë§í¬'].str.contains('write|prod_code', case=False, regex=True)
condition_a = condition_a.fillna(False)  # NaN ê°’ì„ Falseë¡œ ëŒ€ì²´
condition_a.value_counts()

filtered_a = df_ga[condition_a]

ids_a = filtered_a['ì•„ì´ë””'].unique().tolist()  # ê¸°ì¡´ì˜ ê³ ìœ í•œ ì•„ì´ë”” ëª©ë¡ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜
ids_a.extend(['1828185651.1705389498', '417241095.1705634348', '1602359817.1707964923'])  # ìƒˆë¡œìš´ ì•„ì´ë””ë¥¼ ì¶”ê°€

# condition_b = df_ga.groupby('ì•„ì´ë””')['ì²´ë¥˜ì‹œê°„'].sum() >= 18000
# ids_b = condition_b[condition_b].index

ids_b = ['1021566177.1707466356', '1083942841.1695711394',
       '1120703410.1706587025', '112167875.1704799413',
       '1140615326.1706539096', '1158917536.1707880810',
       '1188470945.1704806360', '1195499539.1705461693',
       '1208982378.1707455391', '1250133156.1706801009',
       '130036583.1660629517', '1302147567.1707929419',
       '1312396219.1707191882', '1312429530.1677388875',
       '1323533573.1707880592', '1341286132.1689068932',
       '1341500281.1707228435', '135745452.1687348999',
       '1362795537.1707364318', '1392746774.1707093754',
       '1414598046.1706604478', '1437195581.1701747873',
       '1535161370.1707530975', '1542469471.1706330459',
       '1549941021.1706832674', '1588483927.1696296964',
       '1592112601.1686896453', '1627436795.1707440156',
       '1644808335.1706455834', '1645381003.1707756395',
       '1739828001.1705369497', '1757415153.1705996376',
       '1771636829.1707531355', '198483479.1707868974',
       '2054491282.1707951088', 
       '2078435867.1706074815', '2105957382.1707103400',
       '2115567724.1705386386', '278436795.1700370232', '288263341.1705334410',
       '302251614.1707783216', '306548010.1699417096', '335460286.1707105953',
       '352146708.1707529167', '400501807.1707570514', '420765241.1705305938',
       '48543513.1707440466', '52044247.1693770278', '54599874.1707924934',
       '555071005.1702130820', '577908767.1706330356', '593811738.1706411252',
       '605077705.1702539997', '639043677.1706935086', '649116625.1707636536',
       '736497018.1707340441', '740700171.1705212161', '744027507.1707038633',
       '768492148.1699924210', '771137756.1707490369', '799231654.1707925045',
       '813986486.1707308094', '838526411.1705675392', '858944222.1699852150',
       '861783116.1705336795', '892793016.1701953466', '910079147.1700545452',
       '920629470.1705452306', '936659568.1707636674', '965385222.1704683076',
       '97146443.1707440532']

admin_ids = set(ids_a) | set(ids_b)

print(len(ids_a), len(ids_b))
admin_ids

# ì ìš©í•˜ë ¤ë©´ ì•„ë˜ ì½”ë“œë¥¼ ì£¼ì„ì²˜ë¦¬í•˜ì§€ ë§ê³  ì‹¤í–‰í•˜ì„¸ìš”.
df_ga= df_ga[~df_ga['ì•„ì´ë””'].isin(admin_ids)]

# # new_id mapping
# id_mapping_df = pd.read_csv(mapping_file_path, dtype = str)                               
# df_with_new_id = pd.merge(df_ga, id_mapping_df[['pseudo_id', 'new_id']], left_on='ì•„ì´ë””', right_on="pseudo_id", how='left')

5 71

In [190]:
df_ga_1 = df_ga[df_ga['ì´ë²¤íŠ¸ëª…'] == 'page_view']

In [191]:
df_ga_1

,ì•„ì´ë””,ì‹œê°„,ì´ë²¤íŠ¸ëª…,í˜ì´ì§€ì œëª©,ì •ê·œí™”ë§í¬,ì›ë˜ë§í¬,ì†ŒìŠ¤,ë§¤ì²´,ìº í˜ì¸,ì»¨í…ì¸,ê²€ìƒ‰ì–´,ì²´ë¥˜ì‹œê°„,ì „í™˜ì—¬ë¶€,modified_node
0,1018310597.1711372724,2024. 3. 25. ì˜¤í›„ 10:18:44,page_view,ë§ˆì´ì„¸ì»¨í”Œë ˆì´ìŠ¤,https://maily.so/mysecondplace,https://maily.so/mysecondplace,NaN,NaN,NaN,NaN,NaN,0.0,NaN,https://maily.so/mysecondplace
1,1019987196.1711350912,2024. 3. 25. ì˜¤í›„ 4:15:50,page_view,ê²½ê¸°ë„ ì–‘í‰ ì„¸ì»¨í•˜ìš°ìŠ¤ ë§¤ë¬¼,https://mysecondplace.co.kr/ya0006,https://mysecondplace.co.kr/ya0006?utm_source=...,youtube,video,market,https://youtu.be/G6f7NNpHg1s,NaN,0.0,NaN,https://mysecondplace.co.kr/ya0006
2,1040964215.1711369460,2024. 3. 25. ì˜¤í›„ 9:24:20,page_view,ì„¸ì»¨í•˜ìš°ìŠ¤ ê³ ë¯¼ í•´ê²°,https://mysecondplace.co.kr/secondhouse_trouble,https://mysecondplace.co.kr/secondhouse_troubl...,instagram,troble,ì„¸ì»¨í•˜ìš°ìŠ¤ê³ ë¯¼í•´ê²°,02_ì €ì§ˆëŸ¬ë†“ê³,NaN,4.0,NaN,https://mysecondplace.co.kr/secondhouse_trouble
4,1048306435.1711367547,2024. 3. 25. ì˜¤í›„ 8:52:27,page_view,"ğŸ¡ ì‹ ê·œë§¤ë¬¼ | ë°”ë‹·ë§ˆì„ ë‘ë²ˆì§¸ì§‘, ê°•í™”ë„ ë§¤ë¬¼",https://maily.so/mysecondplace/posts/7ce054f4,https://maily.so/mysecondplace/posts/7ce054f4,naver.com,referral,(referral),NaN,NaN,0.0,NaN,https://maily.so/mysecondplace/posts/7ce054f4
5,106679103.1711349287,2024. 3. 25. ì˜¤í›„ 3:48:07,page_view,ì„¸ì»¨í•˜ìš°ìŠ¤ ê³ ë¯¼ í•´ê²°,https://mysecondplace.co.kr/secondhouse_trouble,https://mysecondplace.co.kr/secondhouse_troubl...,instagram,troble,ì„¸ì»¨í•˜ìš°ìŠ¤ê³ ë¯¼í•´ê²°,02_ì €ì§ˆëŸ¬ë†“ê³,NaN,12.0,NaN,https://mysecondplace.co.kr/secondhouse_trouble
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3146,984668685.1711803717,2024. 3. 30. ì˜¤í›„ 10:02:00,page_view,ê¸°íƒ€ì§€ì—­ ì„¸ì»¨í•˜ìš°ìŠ¤ ë§¤ë¬¼ ë¦¬ìŠ¤íŠ¸ ë° ìƒì„¸ ì •ë³´,https://mysecondplace.co.kr/market_etc,https://mysecondplace.co.kr/market_etc,NaN,NaN,NaN,NaN,NaN,3.0,NaN,https://mysecondplace.co.kr/market_etc
3147,984668685.1711803717,2024. 3. 30. ì˜¤í›„ 10:02:03,page_view,ì¶©ë‚¨ ê³µì£¼ ì„¸ì»¨í•˜ìš°ìŠ¤ ë§¤ë¬¼ ë¦¬ìŠ¤íŠ¸ ë° ìƒì„¸ ì •ë³´,https://mysecondplace.co.kr/market_gongju,https://mysecondplace.co.kr/market_gongju,NaN,NaN,NaN,NaN,NaN,6.0,NaN,https://mysecondplace.co.kr/market_gongju
3149,984668685.1711803717,2024. 3. 30. ì˜¤í›„ 10:02:13,page_view,ë§ˆì´ì„¸ì»¨í”Œë ˆì´ìŠ¤ ê³µë™ì†Œìœ ì„¸ì»¨í•˜ìš°ìŠ¤,https://mysecondplace.co.kr/pb_secondhouse_ads,https://mysecondplace.co.kr/pb_secondhouse_ads,NaN,NaN,NaN,NaN,NaN,8.0,NaN,https://mysecondplace.co.kr/pb_secondhouse_ads
3150,984668685.1711803717,2024. 3. 30. ì˜¤í›„ 10:02:22,page_view,ë§ˆì„¸í”Œ ìŠ¤íƒ ë‹¤ë“œí™ˆ,https://mysecondplace.co.kr/msp_standard,https://mysecondplace.co.kr/msp_standard,NaN,NaN,NaN,NaN,NaN,21.0,NaN,https://mysecondplace.co.kr/msp_standard
3151,984668685.1711803717,2024. 3. 30. ì˜¤í›„ 10:02:43,page_view,ë§ˆì„¸í”Œ ìŠ¤íƒ ë‹¤ë“œí™ˆ,https://mysecondplace.co.kr/msp_standard,https://mysecondplace.co.kr/msp_standard,NaN,NaN,NaN,NaN,NaN,0.0,NaN,https://mysecondplace.co.kr/msp_standard

In [192]:
# ê²€ìƒ‰í•˜ë ¤ëŠ” ë§í¬ ëª©ë¡
links_to_find = [
    "yb0001", "yc0001", "yc0002", "ga0001", "ga0002", "ga0003", "ya0001", "ya0002", "ya0011", "ya0004",
    "ya0005", "gpa0001", "gpa0002", "gpa0003", "nhz0001", "gpa0004", "gpa0005", "ya0006", "ya0007", "ya0008",
    "gpa0006", "gpa0007", "gpa0008", "ga0004", "ga0005", "gb0001", "gb0002", "gb0003", "gpa0009", "gpa0010",
    "gpa0011", "gb0004", "gb0005", "gb0006", "ya0009", "ya0010", "yb0002", "yb0003", "yc0003", "ga0006",
    "yb0004", "ga0007", "ya0011", "ya0012", "ya0013", "ya0003", "gpa0012", "gpa0013", "gpa0014"
]

# ì¡°íšŒìˆ˜ë„ í¬í•¨í•˜ì—¬ ë§í¬ë³„ í†µê³„ ë°ì´í„°ë¥¼ ë‹¤ì‹œ ìƒì„±
link_stats_with_counts = {}

for link in links_to_find:
    matched_rows = df_ga_1[df_ga_1['ì •ê·œí™”ë§í¬'].str.contains(link, regex=False)]
    if not matched_rows.empty:
        count = len(matched_rows)
        max_stay = matched_rows["ì²´ë¥˜ì‹œê°„"].max()
        mode_stay = matched_rows["ì²´ë¥˜ì‹œê°„"].mode()[0] if not matched_rows["ì²´ë¥˜ì‹œê°„"].mode().empty else None
        mean_stay = matched_rows["ì²´ë¥˜ì‹œê°„"].mean()
        link_stats_with_counts[link] = {
            "count": count,
            "max_stay_time": max_stay,
            "mode_stay_time": mode_stay,
            "mean_stay_time": mean_stay
        }

# ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
link_stats_with_counts_df = pd.DataFrame.from_dict(link_stats_with_counts, orient='index').reset_index()
link_stats_with_counts_df.columns = ['ë§í¬', 'ì¡°íšŒìˆ˜', 'ìµœëŒ€ ì²´ë¥˜ì‹œê°„(ì´ˆ)', 'ìµœë¹ˆ ì²´ë¥˜ì‹œê°„(ì´ˆ)', 'í‰ê·  ì²´ë¥˜ì‹œê°„(ì´ˆ)']

# ì²´ë¥˜ì‹œê°„ê³¼ ì¡°íšŒìˆ˜ë¥¼ ì†Œìˆ˜ì  ì•„ë˜ ì—†ì´ ë°˜ì˜¬ë¦¼
link_stats_with_counts_df['ìµœëŒ€ ì²´ë¥˜ì‹œê°„(ì´ˆ)'] = link_stats_with_counts_df['ìµœëŒ€ ì²´ë¥˜ì‹œê°„(ì´ˆ)'].round().astype(int)
link_stats_with_counts_df['ìµœë¹ˆ ì²´ë¥˜ì‹œê°„(ì´ˆ)'] = link_stats_with_counts_df['ìµœë¹ˆ ì²´ë¥˜ì‹œê°„(ì´ˆ)'].astype('str').str.split('.').str[0]  # ìµœë¹ˆê°’ì´ NaNì¼ ê²½ìš° ëŒ€ë¹„
link_stats_with_counts_df['í‰ê·  ì²´ë¥˜ì‹œê°„(ì´ˆ)'] = link_stats_with_counts_df['í‰ê·  ì²´ë¥˜ì‹œê°„(ì´ˆ)'].round().astype(int)

# í‰ê·  ì²´ë¥˜ì‹œê°„(ì´ˆ)ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
link_stats_with_counts_df_sorted = link_stats_with_counts_df.sort_values(by='ì¡°íšŒìˆ˜', ascending=False).reset_index(drop=True)

# íŒŒì¼ ì´ë¦„ ìƒì„±
file_name = f'HomepageAnalysis_Market_{start_date}to{end_date}.xlsx'
full_path = os.path.join(r'C:\Users\ch.kang\OneDrive - í´ë¦¬ ì£¼ì‹íšŒì‚¬\ë¬¸ì„œ - í´ë¦¬ì£¼ì‹íšŒì‚¬\004_Project-4\11_ë§¤ë¬¼ ë§ˆì¼€íŒ… ë°ì´í„°', file_name)
link_stats_with_counts_df_sorted.to_excel(full_path)

In [193]:
# Ensure we're using the previously defined method to find all matching Excel files
total_excel_file = [f for f in os.listdir(upper_path) if f.startswith('003') and f.endswith('.xlsx')]

# Initialize an empty DataFrame in case no files are found or readable
df_total_excel_file = pd.DataFrame()

if total_excel_file:
    # Assuming we want to read the first Excel file found
    excel_file_path = os.path.join(upper_path, total_excel_file[0])
    try:
        # Attempt to read the Excel file into a DataFrame
        df_total_excel_file = pd.read_excel(excel_file_path, dtype=str)
    except Exception as e:
        error_message = f"Error reading the Excel file: {e}"
else:
    error_message = "No matching Excel files found."

# Display a preview of the DataFrame or the error message, depending on the outcome
df_total_excel_file.head() if not df_total_excel_file.empty else error_message

NameError: name 'upper_path' is not defined

In [ ]:
data = df_total_excel_file

# Identifying duplicated 'new_id's
duplicated_new_ids = data[data.duplicated('new_id', keep=False)].sort_values(by='new_id')

# Showing the head of the duplicated records to give an example
num_duplicate_new_ids = len(duplicated_new_ids['new_id'].unique())
print("ì „ì²´ ìœ ì…ìˆ˜ ì¤‘ ì¬ë°©ë¬¸ìˆ˜: ",num_duplicate_new_ids )

duplicated_new_ids

ì „ì²´ ìœ ì…ìˆ˜ ì¤‘ ì¬ë°©ë¬¸ìˆ˜:  1617

,new_id,date_info,conversion_1,conversion_2,conversion_3,source,medium,campaign,content,keyword,...,95,96,97,98,99,100,101,102,103,104
64,g-000005,20240115,NaN,NaN,NaN,google,organic,(organic),NaN,(not provided),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1538,g-000005,20240130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,g-000010,20240119,NaN,NaN,NaN,igad,class_3rd,before_w,Instagram_Feed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,g-000010,20240115,NaN,NaN,NaN,igad,class_3rd,after_w,Instagram_Feed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,g-000023,20240115,NaN,NaN,NaN,google,organic,(organic),NaN,(not provided),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20658,g-018731,20240325,NaN,NaN,NaN,daum,organic,(organic),NaN,ì„¸ì»¨í•˜ìš°ìŠ¤,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20852,g-018783,20240327,NaN,NaN,NaN,naver,organic,(organic),NaN,ë§ˆì´ì„¸ì»¨í”Œë ˆì´ìŠ¤,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20710,g-018783,20240326,NaN,NaN,NaN,naver,organic,(organic),NaN,ë§ˆì´ì„¸ì»¨í”Œë ˆì´ìŠ¤,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20851,g-018829,20240327,NaN,NaN,NaN,naver,blog_msp,ì„¸ì»¨í•˜ìš°ìŠ¤ì˜_ëª¨ë“ ê²ƒ,https://blog.naver.com/mysecondplace/223298427705,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20730,g-018829,20240326,íšŒì›ê°€ì…,íšŒì›ê°€ì…,0,naver,blog_msp,ì„¸ì»¨í•˜ìš°ìŠ¤ì˜_ëª¨ë“ ê²ƒ,https://blog.naver.com/mysecondplace/223298427705,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ë‚ ì§œ í•„í„°

In [ ]:
# 'date_info' ì—´ì„ datetime ê°ì²´ë¡œ ë³€í™˜
data['date_info'] = pd.to_datetime(data['date_info'], format='%Y%m%d')

# ì§€ì •ëœ ë‚ ì§œ ë²”ìœ„ ë‚´ ë°ì´í„° í•„í„°ë§
start_date = pd.Timestamp(2024, 3, 8)
end_date = pd.Timestamp(2024, 3, 14)
filtered_data = data[(data['date_info'] >= start_date) & (data['date_info'] <= end_date)]

# ìœ ì… ë¶„ì„

## UTM vs Keyword

In [ ]:
total_visits = len(filtered_data)

# ëª¨ë“  ì—´ ì¤‘ì—ì„œ í•˜ë‚˜ë¼ë„ ê°’ì´ ìˆëŠ” ê²½ìš°ë¥¼ ê·¸ë£¹ 1ë¡œ ì •ì˜
utm_count = len(filtered_data[(filtered_data[['source', 'medium', 'campaign', 'content']].notnull()).any(axis=1)])

# keyword ê°’ì´ ìˆëŠ” ê·¸ë£¹ (ê·¸ë£¹ 2)
keyword_count = len(filtered_data[(filtered_data['keyword'].notnull()) & 
                                  (filtered_data['keyword'] != 'missing')])
top_keywords = filtered_data[filtered_data['keyword'].notnull() & (filtered_data['keyword'] != 'missing')].groupby('keyword')['new_id'].nunique().reset_index(name='unique_visitors').sort_values('unique_visitors', ascending=False).head(10)

# ê·¸ë£¹ 1ê³¼ ê·¸ë£¹ 2ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ëŠ” ê·¸ë£¹ 3ìœ¼ë¡œ ì •ì˜
etc_count = total_visits - utm_count - keyword_count

print("UTM ìœ ì…ìˆ˜:", utm_count)
print("ê²€ìƒ‰ ìœ ì…ìˆ˜:", keyword_count)
print("ê¸°íƒ€ ìœ ì…ìˆ˜:", etc_count)
print("ì´ ìœ ì…ìˆ˜:", total_visits)

UTM ìœ ì…ìˆ˜: 9163
ê²€ìƒ‰ ìœ ì…ìˆ˜: 112
ê¸°íƒ€ ìœ ì…ìˆ˜: 20
ì´ ìœ ì…ìˆ˜: 9295

## First vs Revisit

In [ ]:
total_visits = len(filtered_data)
print("A = B+C | ì„¤ì • ê¸°ê°„ ë‚´ ì´ìœ ì…ìˆ˜: ", total_visits )

num_duplicate_visits = filtered_data.duplicated(subset='new_id', keep=False).sum()
num_first_visits = total_visits - num_duplicate_visits
num_duplicate_visitor = filtered_data.duplicated(subset='new_id', keep='first').sum()
print("B| ì„¤ì • ê¸°ê°„ ë‚´ ì²«ë°©ë¬¸: ", num_first_visits )
print("C| ì„¤ì • ê¸°ê°„ ë‚´ ì¬ë°©ë¬¸(ë³µìˆ˜): ", num_duplicate_visits )
print("|ì„¤ì • ê¸°ê°„ ë‚´ ì¬ë°©ë¬¸ì(ê³ ìœ ): ", num_duplicate_visitor )

A = B+C | ì„¤ì • ê¸°ê°„ ë‚´ ì´ìœ ì…ìˆ˜:  9295
B| ì„¤ì • ê¸°ê°„ ë‚´ ì²«ë°©ë¬¸:  8571
C| ì„¤ì • ê¸°ê°„ ë‚´ ì¬ë°©ë¬¸(ë³µìˆ˜):  724
|ì„¤ì • ê¸°ê°„ ë‚´ ì¬ë°©ë¬¸ì(ê³ ìœ ):  375

## TOP KEYWORD

In [ ]:
top_keywords

                keyword  unique_visitors
0        (not provided)               58
13             ë§ˆì´ì„¸ì»¨í”Œë ˆì´ìŠ¤               23
14              ë§ˆì´ì„¸ì»¨í•˜ìš°ìŠ¤                3
11                  ë§ˆì„¸í”Œ                2
22  ìœ ëŸ½ìŠ¤íƒ€ì¼ë¡œì„ì»¨í•˜ìš°ìŠ¤ì§€ìœ¼ë ¤ë©´ì–¼ë§ˆë“œë‚˜                1
21         ì‹œê³¨ë•… êµ¬ë§¤ì‹œ ê²½ê³„ë¬¸ì œ                1
20         ì„¸ì»¨í•˜ìš°ìŠ¤í† ì§€ë¶„ì–‘í•˜ëŠ”ê³³                1
19              ì„¸ì»¨í•˜ìš°ìŠ¤ìœ êµ¬                1
18            ì„¸ì»¨í•˜ìš°ìŠ¤ ë¸”ë¡œê·¸                1
17         ì„¸ì»¨í•˜ìš°ìŠ¤ iotì‹œìŠ¤í…œ                1

## UTMë³„ ë¶„ì„

### UTM -> í™ˆí˜ì´ì§€ ë°©ë¬¸

In [ ]:
# ë„ê°’ì„ 'unknown'ìœ¼ë¡œ ëŒ€ì²´í•˜ì—¬ ê·¸ë£¹í™”í•˜ê¸°
filtered_data_filled = filtered_data.fillna('unknown')

# ê·¸ë£¹ 1: Medium (ìº í˜ì¸ ë‹¨ìœ„)
group_1 = filtered_data_filled.groupby('medium')
group_1_count = group_1['new_id'].count()
group_1_duplicate_visits = group_1.apply(lambda x: x.duplicated(subset='new_id', keep=False).sum())
group_1_revisit_rate = group_1_duplicate_visits / group_1_count

group_1_summary = pd.DataFrame({
    'total_visitors': group_1_count,
    'revisits': group_1_duplicate_visits,
    'revisit_rate': group_1_revisit_rate
}).sort_values(by='total_visitors', ascending=False)

print("ê·¸ë£¹ 1 (Medium ë‹¨ìœ„):", group_1_summary['total_visitors'].sum()) 
print(group_1_summary.head(5))

# ê·¸ë£¹ 2: source + medium (ìº í˜ì¸ + ë§¤ì²´)
filtered_data_filled['source_medium'] = (filtered_data_filled['source'].fillna('unknown') + 
                                         ' | ' + 
                                         filtered_data_filled['medium'].fillna('unknown'))
group_2 = filtered_data_filled.groupby('source_medium')
group_2_count = group_2['new_id'].count()
group_2_duplicate_visits = group_2.apply(lambda x: x.duplicated(subset='new_id', keep=False).sum())
group_2_revisit_rate = group_2_duplicate_visits / group_2_count

group_2_summary = pd.DataFrame({
    'total_visitors': group_2_count,
    'revisits': group_2_duplicate_visits,
    'revisit_rate': group_2_revisit_rate
}).sort_values(by='total_visitors', ascending=False)

print("\nê·¸ë£¹ 2 (Source + Medium ë‹¨ìœ„):", group_2_summary['total_visitors'].sum())
print(group_2_summary.head(5))

# ê·¸ë£¹ 3: All (ìº í˜ì¸ + ë§¤ì²´ + ì†Œì¬)
filtered_data_filled['all'] = (filtered_data_filled['source'].fillna('unknown') + 
                               ' | ' + 
                               filtered_data_filled['medium'].fillna('unknown') + 
                               ' | ' + 
                               filtered_data_filled['campaign'].fillna('unknown') + 
                               ' | ' + 
                               filtered_data_filled['content'].fillna('unknown'))
group_3 = filtered_data_filled.groupby('all')
group_3_count = group_3['new_id'].count()
group_3_duplicate_visits = group_3.apply(lambda x: x.duplicated(subset='new_id', keep=False).sum())
group_3_revisit_rate = group_3_duplicate_visits / group_3_count

group_3_summary = pd.DataFrame({
    'total_visitors': group_3_count,
    'revisits': group_3_duplicate_visits,
    'revisit_rate': group_3_revisit_rate
}).sort_values(by='total_visitors', ascending=False)

print("\nê·¸ë£¹ 3 (All ë‹¨ìœ„):", group_3_summary['total_visitors'].sum())
print(group_3_summary.head(5))

ê·¸ë£¹ 1 (Medium ë‹¨ìœ„): 9295
                total_visitors  revisits  revisit_rate
medium
03_tour_locial            5837       341      0.058420
03_tour                   3073        97      0.031565
unknown                    132         8      0.060606
organic                    112        11      0.098214
referral                    89         4      0.044944

ê·¸ë£¹ 2 (Source + Medium ë‹¨ìœ„): 9295
                       total_visitors  revisits  revisit_rate
source_medium
igad | 03_tour_locial            5257       308      0.058589
igad | 03_tour                   2398        63      0.026272
fbad | 03_tour                    665        32      0.048120
fbad | 03_tour_locial             578        30      0.051903
unknown | unknown                 132         8      0.060606

ê·¸ë£¹ 3 (All ë‹¨ìœ„): 9295
                                                total_visitors  revisits  \
all
igad | 03_tour_locial | 02 | Instagram_Feed               2465        64
igad | 03_tour | 05 | Instagram_Feed                      1871        16
igad | 03_tour_locial | 02 | Instagram_Explore            1820        34
fbad | 03_tour | 05 | Facebook_Mobile_Feed                 563        10
igad | 03_tour_locial | 02 | Instagram_Reels               549        28

                                                revisit_rate
all
igad | 03_tour_locial | 02 | Instagram_Feed         0.025963
igad | 03_tour | 05 | Instagram_Feed                0.008552
igad | 03_tour_locial | 02 | Instagram_Explore      0.018681
fbad | 03_tour | 05 | Facebook_Mobile_Feed          0.017762
igad | 03_tour_locial | 02 | Instagram_Reels        0.051002

C:\Users\ch.kang\AppData\Local\Temp\ipykernel_37368\3164601292.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  group_1_duplicate_visits = group_1.apply(lambda x: x.duplicated(subset='new_id', keep=False).sum())
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_37368\3164601292.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  group_2_duplicate_visits = group_2.apply(lambda x: x.duplicated(subset='new_id', keep=False).sum())
C:\Users\ch.kang\AppData\Local\Temp\ipykernel_37368\3164601292.py:47: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  group_3_duplicate_visits = group_3.apply(lambda x: x.duplicated(subset='new_id', keep=False).sum())

### UTM -> ëœë”©í˜ì´ì§€

In [ ]:
landing_page_summary = filtered_data_filled.groupby(['source_medium', '1']).size().reset_index(name='landing_page_visitors')
landing_page_summary_sorted = landing_page_summary.sort_values(by='landing_page_visitors', ascending=False)

print(landing_page_summary_sorted.head(10))

             source_medium                                               1  \
33   igad | 03_tour_locial            https://mysecondplace.co.kr/nopenzip
30          igad | 03_tour            https://mysecondplace.co.kr/nopenzip
6           fbad | 03_tour            https://mysecondplace.co.kr/nopenzip
9    fbad | 03_tour_locial            https://mysecondplace.co.kr/nopenzip
32   igad | 03_tour_locial                 https://mysecondplace.co.kr/msp
29          igad | 03_tour                 https://mysecondplace.co.kr/msp
31          igad | 03_tour  https://mysecondplace.co.kr/pb_secondhouse_ads
115      unknown | unknown  https://mysecondplace.co.kr/secondhouse_market
34   igad | 03_tour_locial  https://mysecondplace.co.kr/pb_secondhouse_ads
68         naver | organic                     https://mysecondplace.co.kr

     landing_page_visitors
33                    4980
30                    2275
6                      628
9                      570
32                     239
29                      75
31                      48
115                     43
34                      38
68                      29

# íˆ¬ì–´ ì‹ ì²­ ì „í™˜ ë¶„ì„

## í™ˆí˜ì´ì§€ -> íˆ¬ì–´ì‹ ì²­í˜ì´ì§€

In [ ]:
tour_application_pattern = 'tour_application|17967442'
reached_tour_application = filtered_data.apply(lambda row: row.astype(str).str.contains(tour_application_pattern).any(), axis=1)
tour_application_users_count = reached_tour_application.sum()
print("íˆ¬ì–´ì‹ ì²­í˜ì´ì§€ ë°©ë¬¸ìˆ˜:", tour_application_users_count)

íˆ¬ì–´ì‹ ì²­í˜ì´ì§€ ë°©ë¬¸ìˆ˜: 72

In [ ]:
tour_complete_pattern = 'tourcomplete'
completed_tour_application = filtered_data.apply(lambda row: row.astype(str).str.contains(tour_complete_pattern).any(), axis=1)
tour_complete_users_count = completed_tour_application.sum()
tour_complete_users = filtered_data[completed_tour_application]['new_id']

print("íˆ¬ì–´ì‹ ì²­ì™„ë£Œ ë°©ë¬¸ìˆ˜:", tour_complete_users_count)
tour_complete_users

íˆ¬ì–´ì‹ ì²­ì™„ë£Œ ë°©ë¬¸ìˆ˜: 0

Series([], Name: new_id, dtype: object)

In [ ]:
tour_application_users_ids = filtered_data[reached_tour_application]['new_id'].unique().tolist()
tour_application_users_ids

['g-010067',
 'g-010085',
 'g-010141',
 'g-010487',
 'g-010330',
 'g-010339',
 'g-010456',
 'g-010216',
 'g-007378',
 'g-010742',
 'g-011426',
 'g-011430',
 'g-011941',
 'g-011485',
 'g-010882',
 'g-007902',
 'g-011009',
 'g-012893',
 'g-012977',
 'g-012627',
 'g-012606',
 'g-013416',
 'g-013590',
 'g-012537',
 'g-012190',
 'g-012167',
 'g-012379',
 'g-014456',
 'g-014041',
 'g-014641',
 'g-014597',
 'g-014589',
 'g-013903',
 'g-013959',
 'g-015670',
 'g-015668',
 'g-015654',
 'g-015640',
 'g-015330',
 'g-016011',
 'g-016044',
 'g-015935',
 'g-015865',
 'g-015018',
 'g-014295',
 'g-015189',
 'g-015147',
 'g-016585',
 'g-016595',
 'g-016952',
 'g-016957',
 'g-016840',
 'g-016844',
 'g-017077',
 'g-017121',
 'g-016988',
 'g-006879',
 'g-001905',
 'g-016479',
 'g-016420',
 'g-016437',
 'g-016270',
 'g-017975',
 'g-018096',
 'g-018039',
 'g-018055',
 'g-017210',
 'g-017231',
 'g-001940',
 'g-017381',
 'g-017404']

# Summary

In [ ]:
filtered_data_filled.columns

Index(['new_id', 'date_info', 'conversion_1', 'conversion_2', 'conversion_3',
       'source', 'medium', 'campaign', 'content', 'keyword',
       ...
       '97', '98', '99', '100', '101', '102', '103', '104', 'source_medium',
       'all'],
      dtype='object', length=116)

In [ ]:
# source_mediumê³¼ landing_page ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ì—¬ ë°©ë¬¸ íšŸìˆ˜ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
landing_page_visits = filtered_data_filled.groupby(['source_medium', '1']).size().reset_index(name='visits')
# 'landing_page' ì—´ì˜ ì´ë¦„ì„ '1'ì—ì„œ 'landing_page'ë¡œ ë³€ê²½í•©ë‹ˆë‹¤.
landing_page_visits.rename(columns={'1': 'landing_page'}, inplace=True)

# source_medium ë³„ ì´ ë°©ë¬¸ íšŸìˆ˜ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
total_visits_by_source_medium = filtered_data_filled.groupby('source_medium').size().reset_index(name='total_visits')

# ê²°ê³¼ë¥¼ ë³‘í•©í•˜ì—¬ source_medium ë³„ í™ˆí˜ì´ì§€ ìœ ì…ìˆ˜ì™€ ëœë”©í˜ì´ì§€ë³„ ë°©ë¬¸ìˆ˜ë¥¼ ê°€ì§„ DataFrameì„ ìƒì„±í•©ë‹ˆë‹¤.
summary_df = pd.merge(landing_page_visits, total_visits_by_source_medium, on='source_medium')


# ë³‘í•©í•œ ë°ì´í„°í”„ë ˆì„ì„ 'visits' ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•©ë‹ˆë‹¤.
summary_df_sorted = summary_df.sort_values(by='visits', ascending=False)

# ì—´ ìˆœì„œë¥¼ ì¡°ì •í•©ë‹ˆë‹¤.
summary_df_sorted = summary_df_sorted.rename(columns={'total_visits': 'total_visits_by_source_medium', 'visits': 'landing_page_visits'})

# íˆ¬ì–´ ì‹ ì²­ í˜ì´ì§€ ë° ì™„ë£Œ í˜ì´ì§€ì— ë„ë‹¬í•œ ì‚¬ìš©ì ì‹ë³„
reached_tour_application_ids = filtered_data_filled[reached_tour_application]['new_id'].unique()
completed_tour_application_ids = filtered_data_filled[completed_tour_application]['new_id'].unique()

# source_medium ë³„ë¡œ íˆ¬ì–´ ì‹ ì²­ ë° ì™„ë£Œ ì‚¬ìš©ì ìˆ˜ ì§‘ê³„
filtered_data_filled['reached_tour_application'] = filtered_data_filled['new_id'].isin(reached_tour_application_ids)
filtered_data_filled['completed_tour_application'] = filtered_data_filled['new_id'].isin(completed_tour_application_ids)


tour_application_by_source_medium = filtered_data_filled.groupby('source_medium')['reached_tour_application'].sum().reset_index(name='tour_application_visits')
tour_complete_by_source_medium = filtered_data_filled.groupby('source_medium')['completed_tour_application'].sum().reset_index(name='tour_complete_visits')

# summary_df_sortedì— ë³‘í•©
summary_df_sorted = pd.merge(summary_df_sorted, tour_application_by_source_medium, on='source_medium', how='left')
summary_df_sorted = pd.merge(summary_df_sorted, tour_complete_by_source_medium, on='source_medium', how='left')
summary_df_sorted = summary_df_sorted[['source_medium','total_visits_by_source_medium', 'landing_page', 'landing_page_visits', 'tour_application_visits', 'tour_complete_visits']]
# ìˆ«ì ì—´ì„ ì •ìˆ˜ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
numeric_columns = summary_df_sorted.select_dtypes(include=['number']).columns
summary_df_sorted[numeric_columns] = summary_df_sorted[numeric_columns].fillna(0).astype(int)

# ëª¨ë“  ì—´ì„ ë¬¸ìì—´ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
summary_df_sorted = summary_df_sorted.astype(str)


# ê²°ê³¼ ì¶œë ¥
summary_df_sorted.head(10)

,source_medium,total_visits_by_source_medium,landing_page,landing_page_visits,tour_application_visits,tour_complete_visits
0,igad | 03_tour_locial,5257,https://mysecondplace.co.kr/nopenzip,4980,22,0
1,igad | 03_tour,2398,https://mysecondplace.co.kr/nopenzip,2275,11,0
2,fbad | 03_tour,665,https://mysecondplace.co.kr/nopenzip,628,6,0
3,fbad | 03_tour_locial,578,https://mysecondplace.co.kr/nopenzip,570,2,0
4,igad | 03_tour_locial,5257,https://mysecondplace.co.kr/msp,239,22,0
5,igad | 03_tour,2398,https://mysecondplace.co.kr/msp,75,11,0
6,igad | 03_tour,2398,https://mysecondplace.co.kr/pb_secondhouse_ads,48,11,0
7,unknown | unknown,132,https://mysecondplace.co.kr/secondhouse_market,43,6,0
8,igad | 03_tour_locial,5257,https://mysecondplace.co.kr/pb_secondhouse_ads,38,22,0
9,naver | organic,50,https://mysecondplace.co.kr,29,7,0

In [ ]:
import pandas as pd

# íˆ¬ì–´ ì™„ë£Œ ì‚¬ìš©ìë“¤ì˜ new_id ë¦¬ìŠ¤íŠ¸ ìƒì„±
tour_complete_users_ids = filtered_data_filled[completed_tour_application]['new_id'].unique().tolist()
# ëª¨ë“  unique new_idë¥¼ ê°€ì§„ DataFrame ìƒì„±
all_new_ids = pd.Series(filtered_data_filled['new_id'].unique(), name='new_id').to_frame()

# íˆ¬ì–´ ì‹ ì²­ í˜ì´ì§€ ë„ë‹¬ ì—¬ë¶€ì™€ íˆ¬ì–´ ì™„ë£Œ ì—¬ë¶€ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì—´ ì¶”ê°€
all_new_ids['reached_tour_application'] = all_new_ids['new_id'].isin(tour_application_users_ids)
all_new_ids['completed_tour_application'] = all_new_ids['new_id'].isin(tour_complete_users_ids)

all_new_ids_filtered = all_new_ids[
    (all_new_ids['completed_tour_application']) | 
    (all_new_ids['reached_tour_application'])
]

# Step 1: new_idë¥¼ ê¸°ì¤€ìœ¼ë¡œ source_medium, date, time ì •ë³´ë¥¼ í¬í•¨í•˜ëŠ” ë§¤í•‘ ë°ì´í„°í”„ë ˆì„ ìƒì„±
new_id_to_info = filtered_data_filled[['new_id', 'date_info', 'source_medium', ]].drop_duplicates()

# Step 2: all_new_ids_filtered ë°ì´í„°í”„ë ˆì„ê³¼ ë³‘í•©í•˜ì—¬ source_medium, date, time ì—´ ì¶”ê°€
all_new_ids_with_info = pd.merge(
    all_new_ids_filtered,
    new_id_to_info,
    on='new_id',
    how='left'
)
all_new_ids_with_complete_info = all_new_ids_with_info[['new_id', 'date_info', 'source_medium', 'reached_tour_application', 'completed_tour_application']]

# ê²°ê³¼ í™•ì¸
all_new_ids_with_complete_info

,new_id,date_info,source_medium,reached_tour_application,completed_tour_application
0,g-010067,2024-03-08,naver | blog_msp,True,False
1,g-010085,2024-03-08,igad | 03_tour_locial,True,False
2,g-010085,2024-03-13,igad | 03_tour_locial,True,False
3,g-010141,2024-03-08,blog | blog_hanpro911,True,False
4,g-010487,2024-03-08,linktr.ee | referral,True,False
...,...,...,...,...,...
74,g-017210,2024-03-14,linktr.ee | referral,True,False
75,g-017231,2024-03-14,blog | blog_hanpro911,True,False
76,g-001940,2024-03-14,igad | 03_tour_locial,True,False
77,g-017381,2024-03-14,linktr.ee | referral,True,False
78,g-017404,2024-03-14,kauth.kakao.com | referral,True,False

In [ ]:
# ë‚ ì§œ ë²”ìœ„ë¥¼ ë¬¸ìì—´ë¡œ ë³€í™˜í•˜ì—¬ íŒŒì¼ ì´ë¦„ì— ì‚¬ìš©

# íŒŒì¼ ì´ë¦„ ìƒì„±
file_name = f'HomepageAnalysis_PaidMarketing_Tour_{start_date}to{end_date}.xlsx'
full_path = os.path.join(r'C:\Users\ch.kang\OneDrive - í´ë¦¬ ì£¼ì‹íšŒì‚¬\ë¬¸ì„œ - í´ë¦¬ì£¼ì‹íšŒì‚¬\004_Project-4\09_ì„¸ì¼ì¦ˆ í”„ë¡œì„¸ìŠ¤ ê°œì„ ', file_name)

# ExcelWriterë¥¼ ì‚¬ìš©í•˜ì—¬ Excel íŒŒì¼ë¡œ ë‚´ë³´ë‚´ê¸°
with pd.ExcelWriter(full_path, engine='xlsxwriter') as writer:
    summary_df_sorted.to_excel(writer, sheet_name='Summary', index=False)
    all_new_ids_with_complete_info.to_excel(writer, sheet_name='new_id', index=False)

print(f"File saved to {full_path}")

File saved to C:\Users\ch.kang\OneDrive - í´ë¦¬ ì£¼ì‹íšŒì‚¬\ë¬¸ì„œ - í´ë¦¬ì£¼ì‹íšŒì‚¬\004_Project-4\09_ì„¸ì¼ì¦ˆ í”„ë¡œì„¸ìŠ¤ ê°œì„ \homepage_2024-03-08to2024-03-14.xlsx